body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-29xl: 48px;
  --font-size-base: 16px;
  --font-size-17xl: 36px;
  --font-size-16xl: 35px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray: #545454;
  --color-gray-100: #1f2534;
  --color-gray-200: #1b1f2a;
  --color-lightgray: #d7d7d7;
  --color-black: #000;
  --color-dodgerblue: #0098ff;
  --color-sandybrown: #ff9b56;
  --color-gainsboro: #d9d9d9;

  /* border radiuses */
  --br-11xs: 2px;
  --br-9xs: 4px;
  --br-10xs: 3px;
}

/*===================*/
body {
  margin: 0;
  line-height: normal;
}

a {
  text-decoration: none;
}

.div2 div a {
  color: #fff !important;

}

.site-container {
  width: 100%;
  max-width: 1920px;
}

.div2 .contacts2 {

  top: 6px;
  left: 1320px;
  width: 74px;
  height: 35px;
}

.about-us,
.contacts,
.earn-for-free,
.contacts2,
.faq,
.for-investors,
.news,
.opportunities {
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 69px;
  height: 40px;
}


:root {
  /* fonts */
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-29xl: 48px;
  --font-size-base: 16px;
  --font-size-17xl: 36px;
  --font-size-16xl: 35px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray: #545454;
  --color-gray-100: #1f2534;
  --color-gray-200: #1b1f2a;
  --color-lightgray: #d7d7d7;
  --color-black: #000;
  --color-dodgerblue: #0098ff;
  --color-sandybrown: #ff9b56;
  --color-gainsboro: #d9d9d9;

  /* border radiuses */
  --br-11xs: 2px;
  --br-9xs: 4px;
  --br-10xs: 3px;
}

/*====================*/
.child,
.p-doma-na-bali-foto-3-1-icon {
  position: absolute;
  left: 0;
  height: 1080px;
}

.p-doma-na-bali-foto-3-1-icon {
  top: 70px;
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
}

.child {
  top: 0;
  background-color: var(--color-gray-100);
  width: 50%;
}

.x-8-1-icon {
  top: 367px;
  left: 45%;
  width: 123px;
  height: 438px;
  object-fit: cover;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 60px;
  width: 100%;
  max-width: 1600px;
  position: absolute;
  top: 120px;
}

.item,
.x-8-1-icon {
  position: absolute;
}

.item {
  top: 70px;
  background-color: rgba(27, 31, 42, 0.3);
  width: 960px;
  height: 1010px;
  right: 0;
}

.homepage {
  top: 7px;
  left: 315px;
  font-weight: 600;
  color: var(--color-dodgerblue);
  display: flex;
  align-items: center;
  width: 104px;
  height: 33px;
}

.about-us,
.contacts,
.earn-for-free,
.faq,
.for-investors,
.news,
.opportunities {
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 69px;
  height: 40px;
}

.contacts,
.earn-for-free,
.faq,
.for-investors,
.news,
.opportunities {
  left: 567px;
  width: 116px;
}

.contacts,
.earn-for-free,
.faq,
.for-investors,
.news {
  top: 0;
  left: 724px;
  width: 106px;
  height: 47px;
}

.contacts,
.earn-for-free,
.faq,
.news {
  top: 4px;
  left: 873px;
  width: 101px;
  height: 39px;
}

.contacts,
.faq,
.news {
  top: 8px;
  left: 1019px;
  width: 44px;
  height: 32px;
}

.contacts,
.faq {
  top: 5px;
  left: 1110px;
  width: 34px;
  height: 37px;
}

.contacts {
  top: 6px;
  left: 1191px;
  width: 74px;
  height: 35px;
}

.union-icon {
  position: relative;
  width: 20px;
  height: 20.01px;
}

.inner,
.or,
.sign-up {
  position: absolute;
  left: 0;
  width: 76px;
}

.inner {
  top: 2px;
  border-radius: var(--br-9xs);
  background-color: var(--color-dodgerblue);
  height: 33px;
}

.or,
.sign-up {
  top: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.or {
  left: 76px;
  font-size: 12px;
  width: 51px;
}

.rectangle-div {
  position: absolute;
  top: 2px;
  left: 127px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 62px;
  height: 33px;
}

.login {
  top: 0;
  left: 127px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 35px;
}

.div3,
.login {
  position: absolute;
}

.div3 {
  top: 13px;
  right: 130px;
  width: 189px;
  height: 35px;
  text-align: center;
  font-size: var(--font-size-sm);
}

.icon {
  top: 0;
  left: 141px;
  width: 130px;
  height: 48px;
  object-fit: cover;
  max-width: inherit !important;
}

.div1,
.div2,
.line-icon {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  max-width: 1920px;
  height: 1px;
}

.line-icon {
  position: fixed;
  z-index: 3;
  top: 84px;
}

.div1,
.div2 {

  height: 65.5px;
}

.div2 {
  top: 10px;
}

.div1 {
  top: -70px;
  height: 1080px;
}

.the-smartest1 {
  font-weight: 300;
  font-family: var(--font-open-sans);
}

.the-smartest {
  margin: 0;
}

.start-investing-in,
.the-smartest-way-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 670px;
}

.start-investing-in {
  top: 198px;
  font-size: var(--font-size-16xl);
  height: 309px;
}

.child1,
.read-more {
  position: absolute;
  left: 410px;
  width: 137px;
}

.child1 {
  top: 410px;
  border-radius: var(--br-9xs);
  background-color: var(--color-sandybrown);
  height: 33px;
}

.read-more {
  top: 409px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-gray-200);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}

.icon1 {
  position: absolute;
  top: 669px;
  left: 731px;
  width: 156px;
  height: 16px;
}

.div4 {
  position: absolute;
  top: 246px;
  left: 149px;
  width: 887px;
  height: 685px;
  font-size: var(--font-size-29xl);
}

.live-and-coming {
  margin-left: 45px;
  font-size: var(--font-size-16xl);
  display: flex;
  color: var(--color-gray-200);
  align-items: center;
  height: 50px;
}

.child2 {
  position: absolute;
  top: 35px;
  left: 653px;
  width: 827px;
  height: 1px;
  z-index: 3;
}

.screenshot-2023-01-05-162335-1-icon {
  position: absolute;
  top: 55px;
  left: 31px;
  width: 483px;
  height: 318px;
  object-fit: cover;
}

.hotel-in-the,
.screenshot-2023-01-05-162335-6-icon {
  position: absolute;
  top: 69px;
  left: 45px;
  width: 455px;
  height: 290px;
}

.hotel-in-the {
  top: 82px;
  left: 75px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  color: var(--color-sandybrown);
  display: flex;
  align-items: center;
  width: 425px;
  height: 50px;
}

.union-icon1 {
  position: relative;
  width: 20px;
  height: 20px;
}

.hours-left {
  position: absolute;
  top: 252px;
  left: 111px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 142px;
  height: 47px;
}

.union-icon2 {
  position: relative;
  width: 17px;
  height: 19.81px;
}

.interested-investors {
  position: absolute;
  top: 296px;
  left: 111px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 189px;
  height: 47px;
}

.child3,
.read-more1 {
  position: absolute;
  left: 363px;
  width: 137px;
}

.child3 {
  top: 381px;
  border-radius: var(--br-9xs);
  background-color: var(--color-dodgerblue);
  height: 33px;
}

.read-more1 {
  top: 380px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}

.screenshot-2023-01-05-162335-9-icon {
  position: absolute;
  top: 69px;
  left: 535px;
  width: 455px;
  height: 290px;
  object-fit: cover;
}

.screenshot-2023-01-05-162335-1 {
  position: absolute;
  top: 69px;
  left: 535px;
  background: linear-gradient(180deg,
      rgba(27, 31, 42, 0.32),
      rgba(27, 31, 42, 0.76));
  width: 455px;
  height: 290px;
}

.hours-left1,
.interested-investors1,
.large-luxury-villa {
  position: absolute;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.large-luxury-villa {
  top: 82px;
  left: 565px;
  font-size: var(--font-size-5xl);
  width: 425px;
  height: 50px;
}

.hours-left1,
.interested-investors1 {
  top: 252px;
  left: 601px;
  width: 142px;
  height: 47px;
}

.interested-investors1 {
  top: 296px;
  width: 189px;
}

.child4,
.read-more2 {
  position: absolute;
  left: 853px;
  width: 137px;
}

.child4 {
  top: 381px;
  border-radius: var(--br-9xs);
  background-color: var(--color-sandybrown);
  height: 33px;
}

.read-more2 {
  top: 380px;
  font-weight: 600;
  color: var(--color-gray-200);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}

.screenshot-2023-01-05-162335-7-icon {
  position: absolute;
  top: 69px;
  left: 1025px;
  width: 455px;
  height: 290px;
  object-fit: cover;
}

.screenshot-2023-01-05-162335-8 {
  position: absolute;
  top: 69px;
  left: 1025px;
  background: linear-gradient(180deg,
      rgba(27, 31, 42, 0.32),
      rgba(27, 31, 42, 0.76));
  width: 455px;
  height: 290px;
}

.hours-left2,
.interested-investors2,
.the-umalas-signature {
  position: absolute;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.the-umalas-signature {
  top: 82px;
  left: 1055px;
  font-size: var(--font-size-5xl);
  width: 425px;
  height: 50px;
}

.hours-left2,
.interested-investors2 {
  top: 252px;
  left: 1091px;
  width: 142px;
  height: 47px;
}

.interested-investors2 {
  top: 296px;
  width: 189px;
}

.child5,
.read-more3 {
  position: absolute;
  left: 1343px;
  width: 137px;
}

.child5 {
  top: 381px;
  border-radius: var(--br-9xs);
  background-color: var(--color-sandybrown);
  height: 33px;
}

.read-more3 {
  top: 380px;
  font-weight: 600;
  color: var(--color-gray-200);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}

.union-child {
  position: absolute;
  top: 1216px;
  left: 214.72px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  width: 3px;
  height: 20px;
  transform: rotate(45deg);
}

.union,
.union-child,
.union-item {
  transform-origin: 0 0;
}

.union-item {
  position: absolute;
  top: 1243.14px;
  left: 216.67px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  width: 3px;
  height: 20px;
  transform: rotate(135deg);
}

.union {
  position: relative;
  background-color: var(--color-gray-200);
  width: 20.57px;
  height: 20.81px;
  transform: rotate(45deg);
}

.union-child1,
.union-inner {
  position: absolute;
  top: 1217px;
  left: 1713.87px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  width: 3px;
  height: 19px;
  transform: rotate(135deg);
  transform-origin: 0 0;
}

.union-child1 {
  top: 1242.43px;
  left: 1711.56px;
  transform: rotate(45deg);
}

.union1 {
  position: relative;
  background-color: var(--color-dodgerblue);
  width: 19.62px;
  height: 19.35px;
  transform: rotate(135deg);
  transform-origin: 0 0;
}

.child6,
.div5 {
  width: 100%;
  max-width: 1527px;
  margin: 66px auto 0;
  position: relative;
}

.child6 {
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  width: 100%;
  max-width: 1920px;
  height: 314px;
  margin-top: 0;
}

.bali-1-icon {
  position: absolute;
  top: 1px;
  left: 162px;
  width: 328px;
  height: 166px;
  object-fit: cover;
}

.estatuium {
  position: absolute;
  top: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.estatium-is-a {
  position: absolute;
  height: calc(100% - 219px);
  top: 144px;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-dimgray);
  display: inline-block;
  width: 100%;
  max-width: 848px;
}

.dc45e5b89121830a355d58c562573d-icon {
  position: absolute;
  top: 1559px;
  left: 1382.59px;
  width: 400px;
  height: 265px;
  object-fit: cover;
  display: none;
}

.div6 {
  position: absolute;
  top: 1572px;
  left: 0;
  height: 314px;
  width: 100%;
  max-width: 1920px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  display: flex;
  justify-content: center;
}

.video {
  font-family: var(--font-open-sans);
}

.video-presentation-txt-container {
  line-break: anywhere;
  width: 100%;
}

.video-presentation {
  position: absolute;
  top: 0;
  left: 171px;
  display: flex;
  align-items: center;
  width: 327px;
}

.watch-the-video {
  position: absolute;
  height: calc(100% - 183px);
  top: 183px;
  left: 0;
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-dimgray);
  display: inline-block;
  width: 498px;
}

.p-doma-na-bali-foto-3-2-icon {
  position: absolute;
  top: 0;
  left: 582px;
  width: 807px;
  height: 454px;
  object-fit: cover;
}

.screenshot-2023-01-05-162335-6 {
  position: absolute;
  top: 0;
  left: 582px;
  background: linear-gradient(180deg,
      rgba(27, 31, 42, 0.11),
      rgba(27, 31, 42, 0.76));
  width: 807px;
  height: 454px;
}

.child7,
.view-more-real {
  position: absolute;
  left: 274px;
  width: 224px;
}

.child7 {
  top: 367px;
  border-radius: var(--br-9xs);
  background-color: var(--color-sandybrown);
  height: 33px;
}

.view-more-real {
  top: 371px;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-gray-200);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
}

.polygon-icon {
  position: absolute;
  top: 211.66px;
  left: 974.5px;
  border-radius: var(--br-10xs);
  width: 30.94px;
  height: 31.68px;
}

.ellipse-div {
  top: 174px;
  left: 932px;
  border-radius: 50%;
  width: 108px;
  height: 108px;
}

.child8,
.div7,
.ellipse-div {
  position: absolute;
}

.div7 {
  top: 1966px;
  width: 100%;
  max-width: 1389px;
  text-align: right;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.child8 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1201px;
}

.how-the-service-container {
  position: absolute;
  top: 80px;
  font-size: var(--font-size-29xl);
  width: 100%;
  text-align: center;
}

.our-100-point-tool,
.your-digital-wallet {
  position: absolute;
  top: 613px;
  left: 1358px;
  text-align: left;
  display: inline-block;
  width: 382px;
}

.our-100-point-tool {
  top: 231px;
  left: 286px;
  color: var(--color-sandybrown);
  height: 142px;
}

.once-fully-funded {
  top: 231px;
  left: 1251px;
  width: 376px;
  height: 117px;
}

.after-the-sale,
.although-the-suggested,
.once-fully-funded {
  position: absolute;
  text-align: left;
  display: inline-block;
}

.although-the-suggested {
  top: 1004px;
  left: 772px;
  width: 375px;
  height: 133px;
}

.after-the-sale {
  top: 613px;
  left: 185px;
  width: 382px;
}

.child9 {
  position: absolute;
  top: 299px;
  left: 50%;
  border-radius: 50%;
  box-sizing: border-box;
  width: 625px;
  height: 625px;
  background: url(../img/svg/icon4.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 98%;
  transform: scale(1.04) translateX(-49%);
  -webkit-transform: scale(1.04) translateX(-49%);
  -moz-transform: scale(1.04) translateX(-49%);
  -ms-transform: scale(1.04) translateX(-49%);
  -o-transform: scale(1.04) translateX(-49%);
}

.circle {
  position: relative;
  width: 583px;
  margin: 0 auto;
}

.union-child2 {
  position: absolute;
  top: 3604.79px;
  left: 823.24px;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
  transform: rotate(-161.07deg);
}

.union-child2,
.union-child3 {
  width: 2px;
  height: 14px;
  transform-origin: 0 0;
}

.union-child3 {
  position: absolute;
  top: 3588.89px;
  left: 813.89px;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
  transform: rotate(-71.07deg);
}

.union-child4 {
  position: absolute;
  top: 3703.08px;
  left: 1208.31px;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
  width: 2px;
  transform: rotate(-79.46deg);
}

.union-child4,
.union-child5 {
  height: 14px;
  transform-origin: 0 0;
}

.union-child5 {
  position: absolute;
  top: 3691.51px;
  left: 1222.67px;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
  width: 2px;
  transform: rotate(10.54deg);
}

.union-child6 {
  position: absolute;
  top: 4030.18px;
  left: 1216.89px;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
  width: 2px;
  transform: rotate(-13.58deg);
}

.union-child6,
.union-child7 {
  height: 14px;
  transform-origin: 0 0;
}

.union-child7 {
  position: absolute;
  top: 4038.56px;
  left: 1233.32px;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
  width: 2px;
  transform: rotate(76.42deg);
}

.union-child8 {
  position: absolute;
  top: 4160px;
  left: 865.39px;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
  width: 2px;
  transform: rotate(62.27deg);
}

.union-child8,
.union-child9 {
  height: 14px;
  transform-origin: 0 0;
}

.union-child9 {
  position: absolute;
  top: 4177.97px;
  left: 861.28px;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
  width: 2px;
  transform: rotate(152.27deg);
}

.union-child10 {
  position: absolute;
  top: 3864.22px;
  left: 657.79px;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
  width: 2px;
  transform: rotate(136.88deg);
}

.union-child10,
.union-child11,
.union6 {
  height: 14px;
  transform-origin: 0 0;
}

.union-child11 {
  position: absolute;
  top: 3865.03px;
  left: 639.37px;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
  width: 2px;
  transform: rotate(-133.12deg);
}

.union6 {
  position: relative;
  background-color: var(--color-sandybrown);
  width: 14px;
  transform: rotate(136.88deg);
}

.child10,
.child11,
.child12 {
  position: absolute;
  border-radius: 50%;
}

.child10 {
  top: 320px;
  left: 50%;
  background-color: #262c3b;
  width: 583px;
  height: 583px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.child11,
.child12 {
  top: 360px;
  //left: 710px;
  left: 50%;
  background-color: var(--color-gray-100);
  width: 500px;
  height: 500px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.child12 {
  top: 420px;
  background-color: var(--color-gray-200);
  width: 380px;
  height: 380px;
}

.child13,
.div9 {
  position: absolute;
  left: 40px;
  width: 70px;
}

.child13 {
  top: 344px;
  border-radius: 50%;
  background-color: var(--color-sandybrown);
  height: 70px;
}

.div9 {
  top: 353px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--color-gray-200);
  display: inline-block;
  height: 42px;
}

.child14 {
  top: 344px;
  right: 50px;
  border-radius: 50%;
  background-color: var(--color-white);
  height: 70px;
}

.child14,
.child15,
.div10,
.div11 {
  position: absolute;
  width: 70px;
}

.div10 {
  top: 354px;
  right: 50px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--color-gray-200);
  display: inline-block;
  height: 42px;
}

.child15,
.div11 {
  right: -45px;
}

.child15 {
  top: 657px;
  border-radius: 50%;
  background-color: var(--color-white);
  height: 70px;
}

.div11 {
  top: 667px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--color-gray-200);
  display: inline-block;
  height: 37px;
}

.child16 {
  top: 889px;
  left: 50%;
  border-radius: 50%;
  background-color: var(--color-white);
  height: 70px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.child16,
.child17,
.div12,
.div13 {
  position: absolute;
  width: 70px;
}

.div12 {
  top: 899px;
  left: 50%;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--color-gray-200);
  display: inline-block;
  height: 41px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.child17,
.div13 {
  left: -45px;
}

.child17 {
  top: 657px;
  border-radius: 50%;
  background-color: var(--color-white);
  height: 70px;
}

.div13 {
  top: 667px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--color-gray-200);
  display: inline-block;
  height: 46px;
}

.x-8-1-icon1 {
  position: absolute;
  top: 487px;
  left: 50%;
  width: 332.59px;
  height: 245.6px;
  object-fit: cover;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.div8,
.en {
  position: absolute;
  left: 0;
}

.div8 {
  top: 3330px;
  width: 100%;
  max-width: 1920px;
  height: 1201px;
  text-align: center;
  font-size: var(--font-size-lg);
}

.en {
  top: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 28px;
  height: 35px;
}

.mask-group-icon {
  position: absolute;
  height: 85.62%;
  width: 29.73%;
  top: 8.57%;
  right: 22.32%;
  bottom: 5.81%;
  left: 47.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.union-child13 {
  top: 42.59px;
  left: 1769.28px;
  transform: rotate(45deg);
}

.union7 {
  position: relative;
  width: 13.28px;
  height: 7.74px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  svg {
    display: block;
  }
}

.div14 {
  position: absolute;
}

.div14 {
  top: 23px;
  left: 66%;
  width: 104.28px;
  height: 35px;
}

.news1 {
  font-size: var(--font-size-29xl);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card2-photo {
  // width: 381px;
  width: 100%;
  height: 258px;
  overflow: hidden;
}

.rectangle-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: inherit;
}

.screenshot-2023-01-05-162335-11 {
  position: absolute;
  top: 3px;
  left: 0;
  background: linear-gradient(180deg,
      rgba(27, 31, 42, 0.32),
      rgba(27, 31, 42, 0.76));
  width: 381px;
  height: 262px;
  display: none;
}

.b {
  position: absolute;
  top: 0;
  left: 51.95%;
}

.union-icon7 {
  position: relative;
  width: 20px;
  height: 14.02px;
}

.div16 .card2-photo img {
  width: 404px;
  height: 270px;
  position: absolute;
  left: -20px;
  top: -3px;
}

.b1 {
  position: absolute;
  top: 0;
  left: 73.08%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.investor-solutions-in {
  // position: absolute;
  // top: 40px;
  // left: 413px;
  font-size: var(--font-size-5xl);
  // display: inline-block;
  color: var(--color-dodgerblue);
  // width: 382px;
  // height: 36px;
  margin: 30px 0;
}

.the-perenenan-area {
  // position: absolute;
  // width: 48.05%;
  // top: 35.82%;
  // left: 51.95%;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  // display: inline-block;
}

// .child18 {
//   position: absolute;
//   top: 137px;
//   left: 1px;
//   width: 795px;
//   height: 268px;
// }
.child18 {
  // top: 3px;
  // left: 0;
  width: 381px;
  height: 260px;
  object-fit: cover;
}

.screenshot-2023-01-05-162335-12 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg,
      rgba(27, 31, 42, 0.32),
      rgba(27, 31, 42, 0.76));
  width: 49%;
  height: 258px;
}

.cruise-tourism-will-container {
  // position: absolute;
  // top: 40px;
  // left: 413px;
  font-size: var(--font-size-5xl);
  // display: inline-block;
  color: var(--color-black);
  // width: 382px;
  // height: 72px;
  margin: 30px 0;
}

.tourism-stakeholders-from {
  // position: absolute;
  // width: 48.05%;
  // top: 49.05%;
  // left: 51.95%;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
  // display: inline-block;
}

.div16,
.div17,
.div18,
.div19 {
  position: relative;
}

.screenshot-2023-01-05-162335-13 {
  position: absolute;
  top: 0;
  left: 1px;
  background: linear-gradient(180deg,
      rgba(27, 31, 42, 0.32),
      rgba(27, 31, 42, 0.76));
  width: 49%;
  height: 260px;
}

.b4,
.b5 {
  position: absolute;
  top: 0;
  left: 52.01%;
}

.b5 {
  left: 73.12%;
}

.contractors-carry-out,
.the-head-of {
  // position: absolute;
  // top: 40px;
  // left: 414px;
  font-size: var(--font-size-5xl);
  // display: inline-block;
  color: var(--color-black);
  // width: 382px;
  // height: 131px;
}

.contractors-carry-out {
  margin: 30px 0;
}

.the-head-of {
  // height: 25.86%;
  // width: 47.99%;
  // top: 74.14%;
  // left: 52.01%;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}

.screenshot-2023-01-05-162335-14 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg,
      rgba(27, 31, 42, 0.32),
      rgba(27, 31, 42, 0.76));
  width: 49%;
  height: 259px;
}

.indonesias-wealth-fund {
  // position: absolute;
  // top: 40px;
  // left: 414px;
  font-size: var(--font-size-5xl);
  // display: inline-block;
  color: var(--color-black);
  // width: 382px;
  // height: 92px;
}

.indonesias-welfare-fund-container {
  font-size: var(--font-size-5xl);
  // display: inline-block;
  color: var(--color-black);
  margin: 30px 0;
}

.indonesias-wealth-fund {
  // height: 38.4%;
  // width: 47.99%;
  // top: 61.6%;
  // left: 52.01%;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}

.all-news,
.child21 {
  position: absolute;
  left: 50%;
  width: 224px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.child21 {
  top: 806px;
  border-radius: var(--br-9xs);
  background-color: var(--color-sandybrown);
  height: 33px;
}

.all-news {
  top: 810px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: #000;
}

.div15 {
  position: absolute;
  top: 4558px;
  left: 50%;
  width: 100%;
  max-width: 1600px;
  height: 839px;
  color: var(--color-gray-200);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.child22,
.mask-group-icon1 {
  position: absolute;
  top: calc(50% - 233.5px);
  left: 0;
  width: 100%;
  height: 100%;
}

.mask-group-icon1 {
  object-fit: cover;
}

.child22 {
  background-color: rgba(27, 31, 42, 0.2);
}

.helping-micro-investors-build {
  margin-block-start: 0;
  margin-block-end: 30px;
  font-weight: 600;
}

.the-future-of-real-estate-inve {
  margin: 0;
  font-size: var(--font-size-29xl);
}

.helping-micro-investors-build-container {
  position: absolute;
  top: calc(50% - 116.5px);
  left: 0;
  display: inline-block;
  width: 100%;
}

.child23,
.create-your-free {
  position: absolute;
  left: 50%;
  width: 286px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.child23 {
  top: 308px;
  border-radius: var(--br-9xs);
  background-color: var(--color-sandybrown);
  height: 33px;
}

.create-your-free {
  top: 311px;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-gray-200);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
}

.div20 {
  top: calc(50% + 2375px);
  left: 0;
  width: 100%;
  max-width: 1920px;
  height: 467px;
  text-align: center;
  font-size: var(--font-size-5xl);
}

.div20 {
  position: absolute;
}

.icon2 {
  width: 130px;
  height: 48px;
  object-fit: cover;
  position: relative;
}

.get-started,
.about-us1,
.support,
.social-networks {
  font-size: var(--font-size-lg);
  display: inline-block;
  margin-bottom: 20px;
}

.home {
  color: var(--color-dodgerblue);
}

.home,
.sign-up1 {
  margin-block-start: 0;
  margin-block-end: 8px;
}

.about-us1,
.home-sign-up-container {
  list-style: none;
}

.home-sign-up-container li:nth-child(3) a,
.home-sign-up-container li:nth-child(4) a {
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}

a {
  text-decoration: none;
}

.about-us1 {
  font-size: var(--font-size-lg);
}

.opportunities-for-investors-container {
  // position: absolute;
  // height: 41.79%;
  // width: 8.7%;
  // top: 28.57%;
  // left: 43.23%;
  // display: inline-block;
  list-style: none;
}

.opportunities-for-investors-container li:nth-child(2) a,
.opportunities-for-investors-container li:nth-child(3) a,
.opportunities-for-investors-container li:nth-child(4) a,
.opportunities-for-investors-container li:nth-child(5) a {
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}

.faq-contacts,
.social-net {
  list-style: none;
}

.social-net li {
  display: flex;
  gap: 15px;
}

.faq-contacts li:nth-child(2) a,
.faq-contacts li:nth-child(3) a {
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}

.facebook-icon,
.twitter-icon {
  width: 32px;
  height: 32px;
}

.twitter-icon {
  right: 15.31%;
  left: 83.02%;
}

.line-div {
  position: absolute;
  top: 214.5px;
  //left: 148.5px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  //width: 1622px;
  width: 100%;
  max-width: 1620px;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.div16,
.div17,
.div18,
.div19 {
  display: flex;
  gap: 20px;
  // align-items: center;
}

.Copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
}

// .copyright-2023-all,
// .privacy-policy,
// .user-agreement {
//   position: absolute;
//   height: 11.43%;
//   width: 16.46%;
//   top: 83.93%;
//   left: 7.76%;
//   display: inline-block;
// }
.privacy-policy,
.user-agreement {
  // width: 6.72%;
  // left: 43.23%;
  color: var(--color-dodgerblue);
}

// .user-agreement {
//   left: 61.67%;
// }
// .child25,
// .to-the-top {
//   position: absolute;
//   left: 1541px;
// }
.child25 {
  // top: 229px;
  background-color: var(--color-dodgerblue);
  width: 163px;
  height: 38px;
  position: relative;

  &::after {
    content: '';
    width: 20px;
    height: 20px;
    background: url('../img/Union22211.svg') no-repeat;
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

.to-the-top {
  // top: 236px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-gray-200);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  // height: 25px;
  height: 100%;
}

.union-child14 {
  position: absolute;
  top: 6216.9px;
  left: 1688.8px;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
  width: 2px;
  transform: rotate(135.03deg);
}

.union-child14,
.union-child15,
.union8 {
  height: 14px;
  transform-origin: 0 0;
}

.union-child15 {
  position: absolute;
  top: 6218.31px;
  left: 1670.41px;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
  width: 2px;
  transform: rotate(-134.97deg);
}

.union8 {
  position: relative;
  background-color: var(--color-gray-200);
  width: 14px;
  transform: rotate(135.03deg);
}

.div21 {
  position: absolute;
  top: 5964px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 100%;
  max-width: 1920px;
  height: 280px;
}

.flexfooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1620px;
  margin: 20px auto 50px;
}

.why-do-they-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  // width: 1622px;
  width: 100%;
}

.child26 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 8px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.card__text {
  display: flex;
  flex-direction: column;
}

.icon3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.low-and-transparent,
.property-assessment-conducted,
.investment-opportunities-based,
.the-indonesia-financial,
.our-platform-enables,
.property-assessment-conducted {
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
  display: inline-block;
}

.child28 {
  position: absolute;
  top: 113px;
  left: 1px;
  width: 519px;
  height: 250px;
}

.div23,
.div24,
.div25,
.div26,
.div27,
.div28 {
  grid-column: span 2;
  width: 100%;
  height: 100%;
  border: 8px solid var(--color-lightgray);
  padding: 70px 10px 70px 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card__photo {
  width: 96px;
  height: 96px;
  min-width: 96px;
}

.transparent-investing,
.valuation1,
.regulated-platform,
.diversification,
.professional-team {
  margin-bottom: 15px;
}

.div25 .the-smartest:last-child {
  margin-bottom: 15px;
}

.child28 {
  top: 10px;
  left: 10px;
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 499px;
  height: 230px;
  display: none;
}

.valuation1 {
  margin-top: 0;
}

.our-platform-enables {
  // width: 62.24%;
  // top: 50.4%;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}

.div22 {
  position: absolute;
  top: 402px;
  left: 1103px;
  width: 519px;
  height: 250px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
  top: 120px;
  width: 100%;
  max-width: 1920px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.div22 {
  top: 2500px;
  width: 100%;
  max-width: 1622px;
  height: 652px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 6244px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}

@media screen and (max-width: 1600.98px) {
  .div4 {
    left: 60px;
  }

  .x-8-1-icon {
    left: 44%;
  }

  .our-100-point-tool {
    left: 200px;
  }

  .after-the-sale {
    left: 50px;
  }

  .once-fully-funded,
  .your-digital-wallet {
    left: 1150px;
  }

  .although-the-suggested {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .grid,
  .grid2 {
    padding: 0 15px;
  }

  .div21 {
    padding: 0 30px;
  }
}

@media screen and (max-width: 1536.98px) {
  .div4 {

    .the-smartest1,
    .the-smartest {
      font-size: 44px;
    }

    .start-investing-in {
      font-size: 32px;
      width: 615px;
    }
  }

  .x-8-1-icon {
    left: 43.5%;
  }

  .div5 {
    padding: 0 15px;
  }

  .child9 {
    width: 475px;
    height: 475px;
  }

  .child10 {
    width: 425px;
    height: 425px;
  }

  .child11 {
    width: 375px;
    height: 375px;
    top: 346px;
  }

  .child12 {
    width: 300px;
    height: 300px;
    top: 384px;
  }

  .x-8-1-icon1 {
    width: 132.59px;
    height: 126.6px;
    top: 465px;
  }

  .child13,
  .div9 {
    left: 55px;
  }

  .child14,
  .div10 {
    right: 55px;
  }

  .child17 {
    top: 610px;
    left: 25px;
  }

  .div13 {
    top: 620px;
    left: 25px;
  }

  .child15 {
    top: 610px;
    right: 25px;
  }

  .div11 {
    top: 620px;
    right: 25px;
  }

  .child16 {
    top: 760px;
  }

  .div12 {
    top: 770px;
  }

  .your-digital-wallet {
    left: 1100px;
  }

  .once-fully-funded {
    left: 1000px;
  }

  .although-the-suggested {
    top: 880px;
  }

  .the-perenenan-area,
  .tourism-stakeholders-from,
  .the-head-of,
  .indonesias-wealth-fund {
    font-size: 16px;
  }

  .div15 {

    .investor-solutions-in,
    .cruise-tourism-will-container,
    .contractors-carry-out,
    .the-smartest {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 1440.98px) {
  .child2 {
    width: 715px;
  }
  .header {
    padding: 0 20px;
  }

  .div14 {
    right: 20px;
  }

  .div4 .the-smartest1,
  .div4 .the-smartest {
    font-size: 40px;
  }

  .div4 .start-investing-in {
    font-size: 28px;
    width: 572px;
  }

  .child1,
  .read-more {
    left: 150px;
  }

  .read-more {
    top: 395px;
  }

  .child1 {
    top: 395px;
  }

  .x-8-1-icon {
    left: 43%;
  }

  .your-digital-wallet {
    left: 1000px;
  }

  .once-fully-funded {
    left: 930px;
  }

  .div16 .card2-photo img {
    width: 380px;
  }
}

@media screen and (max-width: 1366.98px) {
  .child2 {
    width: 640px;
  }
  .our-100-point-tool {
    left: 150px;
  }

  .after-the-sale {
    width: 355px;
  }

  .your-digital-wallet {
    left: 970px;
  }

  .div16 .card2-photo img {
    width: 324px;
    height: 296px;
    left: 0;
    top: -17px;
  }
}

@media screen and (max-width: 1280.98px) {
  .screenshot-2023-01-05-162335-12,
  .screenshot-2023-01-05-162335-13,
  .screenshot-2023-01-05-162335-14 {
    width: 48.5%;
  }

  .p-doma-na-bali-foto-3-2-icon,
  .screenshot-2023-01-05-162335-6 {
    left: auto;
    right: 15px;
    width: 715px;
    height: auto;
  }
  .screenshot-2023-01-05-162335-6 {
    height: 402px;
  }
  .child2 {
   width: 552px;
  }

  .div4 .the-smartest1,
  .div4 .the-smartest {
    font-size: 36px;
  }

  .div4 .start-investing-in {
    font-size: 24px;
    width: 485px;
    top: 125px;
  }

  .child1,
  .read-more {
    left: 130px;
    top: 317px;
  }

  .x-8-1-icon {
    left: 42%;
  }

  .bali-1-icon {
    left: 100px;
  }

  .polygon-icon {
    left: 886.5px;
    top: 187.66px;
  }

  .our-100-point-tool {
    left: 100px;
  }

  .once-fully-funded {
    left: 830px;
  }

  .after-the-sale {
    width: 308px;
  }

  .your-digital-wallet {
    left: 915px;
    width: 308px;
  }

  .div16 .card2-photo img {
    width: 300px;
  }
}
@media screen and (max-width: 1181.98px) {
  .child2 {
    width: 470px;
  }
}
@media screen and (max-width: 1024.98px) {
  .child2 {
    width: 310px;
}
}

@media screen and (max-width: 991.98px) {
  .grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .live-and-coming {
    margin-left: 0;
    padding-left: 15px;
  }
  .child2 {
    left: 605px;
    width: 200px;
  }
  .div5 .swiper-horizontal {
    padding: 0 !important;
  }
  .div5 {
    padding: 0;
  }
  .div4 {
    left: 20px;
    width: 300px;
  }

  .start-investing-in,
  .the-smartest-way-container {
    width: 100%;
    top: -15px;
  }

  .div4 .start-investing-in {
    width: 308px;
  }

  .div4 .the-smartest {
    font-size: 48px;
  }

  .div4 .start-investing-in {
    font-size: 30px;
    top: 270px;
  }

  .child1,
  .read-more {
    left: 145px;
    top: 530px;
  }

  .x-8-1-icon {
    left: 37%;
  }

  .bali-1-icon {
    left: 15px;
    width: 245px;
    height: auto;
  }

  .video-presentation {
    left: 20px;
  }

  .watch-the-video {
    width: 100%;
    max-width: 350px;
    left: 5px;
  }

  .child7,
  .view-more-real {
    top: 435px;
    left: 130px;
  }

  .p-doma-na-bali-foto-3-2-icon,
  .screenshot-2023-01-05-162335-6 {
    left: auto;
    width: 50%;
    height: 277px;
    right: 15px;
  }

  .polygon-icon {
    left: 600px;
    top: 128.66px;
  }

  .div23,
  .div24,
  .div25,
  .div26,
  .div27,
  .div28 {
    grid-column: span 3;
    padding: 40px 10px;
  }

  .div22 {
    height: 1050px;
  }

  .div8 {
    top: 3553px;
    height: 990px;
  }
  .all-news, .child21 {
    top: 1400px;
  }

  .div15 {
    top: 4600px;
    height: 1492px;
  }

  .div {
    height: 6845px;
  }

  .div21 {
    top: auto;
    bottom: 0;
  }

  .div20 {
    top: calc(50% + 2677px);
  }

  .after-the-sale,
  .our-100-point-tool {
    left: 10px;
  }

  .circle {
    width: 450px;
  }

  .child9 {
    width: 375px;
    height: 375px;
  }

  .child10 {
    width: 325px;
    height: 325px;
  }

  .child11 {
    width: 275px;
    height: 275px;
  }

  .child12 {
    width: 200px;
    height: 200px;
  }

  .x-8-1-icon1 {
    top: 415px;
  }

  .child13,
  .child14,
  .child15,
  .child16,
  .child17 {
    width: 50px;
    height: 50px;
  }

  .div9,
  .div10,
  .div11,
  .div12,
  .div13 {
    font-size: 30px;
  }

  .div9 {
    top: 347px;
    left: 44px;
  }

  .div10 {
    top: 347px;
    right: 46px;
  }

  .our-100-point-tool {
    width: 230px;
  }

  .once-fully-funded {
    left: auto;
    right: 5px;
    width: 220px;
  }

  .child17 {
    top: 575px;
    left: 34px;
  }

  .div13 {
    top: 577px;
  }

  .child15 {
    top: 575px;
    right: 34px;
  }

  .div11 {
    top: 577px;
  }

  .child16 {
    top: 660px;
  }

  .div12 {
    top: 662px;
    transform: translateX(-52%);
    -webkit-transform: translateX(-52%);
    -moz-transform: translateX(-52%);
    -ms-transform: translateX(-52%);
    -o-transform: translateX(-52%);
  }
  .after-the-sale {
    width: 207px;
    top: 520px;
  }
  .your-digital-wallet {
    left: auto;
    right: 5px;
    width: 207px;
    top: 520px;
  }
  .although-the-suggested {
    top: 730px;
  }
  .child8 {
    height: 990px;
  }
  .div16,
  .div17,
  .div18,
  .div19 {
    grid-column: span 2;
  }
  .div16 .card2-photo img,
  .screenshot-2023-01-05-162335-12,
  .screenshot-2023-01-05-162335-13,
  .screenshot-2023-01-05-162335-14 {
    width: 48%;
  }

}
@media screen and (max-width: 768.98px) {
  .our-100-point-tool {
    width: 211px;
  }
  .after-the-sale {
    width: 180px;
  }
  .once-fully-funded {
    width: 185px;
  }
  .your-digital-wallet {
    width: 174px;
  }
  .although-the-suggested {
    width: 300px;
  }
  .div21 {
    padding: 0 10px;
  }
}
