.header{

  z-index: 4;
  width: 100%;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 86px;
  border-bottom: 1px solid #717171;
  &::before{
    content: "";
    background-color: var(--color-gray-100);
    width: 50%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
  }
  .container{
    display: flex;

    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
  }
  .btn-search{
    transform: translateY(2px);
  }


}
.logo{
  width: 130px;
  height: 48px;
  background-image: url(../img/@2x.webp);
  display: block;
  background-size: cover;
  margin-right: 44px;
  @media screen and (max-width:1520px){
    margin-right: 20px;
  }
}
.active-link{
  color: #0098FF;
}

.header__menu{
  margin-right: 44px;
  @media screen and (max-width:1520px){
    margin-right: 20px;
  }
}
.header__menu {
  display: flex;
  gap: 44px;
  @media screen and (max-width:1520px){
    gap: 20px;
  }
  a{
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 30px;
      width: 100%;
      border-bottom: 5px solid #0098ff;

      transform: translateY(33px);
      opacity: 0;
    }
    &:hover::before {
      opacity: 1;
    }
  }
}
.header__menu.menu-active {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  background: #1f2534;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
  a{
    position: relative;
    font-size: 20px;
    &:hover{

      color: #0098ff;
    }
    &::before {
      transform: translateY(25px);

    }
  }
}

/*кнопка меню*/

.menu-btn,
.close-btn {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 1;
  margin-right: 10px;
}
.menu-btn{
  display: none;
}
.menu-btn span,
.close-btn span ,
.menu-btn span:before,
.close-btn span:before,
.menu-btn span:after,
.close-btn span:after {
  display: block;
  width: 20px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1px;
  transition: all 0.4s linear;
}

.menu-btn span:before,
.close-btn span:before ,
.menu-btn span:after ,
.close-btn span:after{
  content: '';
}
.menu-btn span:before,
.close-btn span:before{
  transform: translateY(-5px);
}
.menu-btn span:after,
.close-btn span:after{
  transform: translateY(5px);
}

.menu-custom{



  span,
  span:before,
  span:after{
    width: 28px;
    border-radius: 3px;
    height: 3px;
    margin-left: -11px;
  }
  span{

    width: 22px;
  }

   span:before {
    transform: translateY(-7px);
    width: 15px;
  }
   span::after {
    transform: translateY(7px);
  }


}


@media screen and (max-width: 1340px){
  .menu-btn{
    display: block;
  }
  .header__menu{
    display: none;
  }

  .header__menu.menu-active {
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    background: #E8322E;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s linear;
  }
  .menu-btn.menu-active span:after {
    content: "";
    width: 20px;
    transform: rotate(90deg);
    transform-origin: center;
    background: #fff;
  }
  .menu-btn.menu-active span::before{
    display: none;
  }
  .menu-btn.menu-active span {
    width: 20px;
    transform: rotate(45deg);
    transform-origin: center;
    background: #fff;
  }
  .header__menu.menu-active a{
    color: #fff;
    margin-bottom: 21px;
    font-size: 20px;
    margin-right: 0;
  }
  .header__menu.menu-active a::before{
    transform: translateY(10px);
  }

  .header-left{
    flex: 1;
  }

  .form-search{
    margin-left: auto;
    margin-right: auto;
    transform: translateX(440%);
  }
  .div1{
     overflow: hidden;
  }
}

@media screen and (max-width: 880px){
  .form-search{
    display: none;
  }
}
@media screen and (max-width: 650px){
  .authoriz{
    display: none;
  }
}

/*=========*/



.authoriz{
  display: flex;
  align-items: center;
  margin-right: 40px;

}
.authoriz__sign-up,
.authoriz__login{

  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 4px;
  font-size: 14px;
  &:hover{
    opacity: .875;
  }
}

.authoriz__sign-up{
  background-color: #0098ff;
  width: 76px;
}
.authoriz__login{
  width: 62px;
  border: 1px solid #fff;
}
.authoriz__or{
  font-size: 12px;
  width: 51px;
  text-align: center;
}

/*переключение языков*/
.dropbtn {

  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */


.dropbtn {
  display: flex;
  align-items: center;

}
.language{
  margin-right: 22px;
}
.dropflag{
  margin-right: 10px;
}

.dropbtn::after {
  background: rgba(0, 0, 0, 0) url("../img/arrow.svg") no-repeat scroll center center;
  content: "";
  height: 16px;
  display: block;
  width: 16px;
}

.dropflag{

  img{
    display: block;
  }
}


/* Links inside the dropdown */
.dropdown-content{
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 26px;
  padding-top: 10px;

  a {
    color: black;

    & + a{
      margin-top: 10px;
    }
    text-decoration: none;
    display: block;
    img{
      display: block;
    }
  }

}

/* Change color of dropdown links on hover */
//.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;

  a:hover{
    opacity: .7;
  }
}

.header-right{
  display: flex;
  align-items: center;
}
.header-left{
  display: flex;
  align-items: center;
}


.div2 {
  display: flex;
  width: 100%;
  max-width: 1920px;
  justify-content: space-between;
  position: relative;
  padding-right: 300px;
  align-items: center;
}
.header-bg{
  height: 85px;
  width: 100%;
  background-color: var(--color-gray-100);
  position: fixed;
  z-index: 2;
}
