/*2 Live and Coming Soon Properties*/
.div5-item{
  //position: relative;
  //height: 318px;
  & > *{
   // position: static;
  }
}
.div5{
  .swiper-horizontal{
    // padding: 0 25px;
    padding: 0 20px;
    position: relative;
    &::before, &::after{
      content: "";
      width: 10px;
      height: 100%;
      display: block;
      background-color: #fff;
      position: absolute;
      top: 0;
      z-index: 2;
    }
    &::before{
      left: 0;
    }
    &::after{
      right: 0;
    }
  }

}

.h3{
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.wrapper-coming-soon{
  padding: 20px;
}
.coming-soon{
  position: relative;
  height: 290px;

  padding-left: 30px;
  padding-left: 30px;
    display: flex;
    flex-direction: column;
  & > *{
    position: relative;
    z-index: 2;
  }

  .h3{
    padding-top: 22px;
    margin-bottom: auto;
  }

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 31, 42, 0.32)), to(rgba(27, 31, 42, 0.76)));
    background: linear-gradient(180deg, rgba(27, 31, 42, 0.32), rgba(27, 31, 42, 0.76));
    width: 100%;
    height: 100%;
    z-index: 1;
  }

}
.coming-soon__img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.coming-soon__first{
  .h3{
    color: #FF9B56;
  }
  &::before{
    background: rgba(27, 31, 42, 0.9);
  }
}
.coming-soon__item{
  font-weight: 600;
  display: flex;
  margin-bottom: 22px;
  &:last-child{
    margin-bottom: 27px;
  }
}

.icon-time::before, .icon-silhouette::before{
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
}
.icon-time::before{
  background-image: url(../img/svg/icon1.svg);
}
.icon-silhouette::before{
  background-image: url(../img/svg/icon2.svg);
}

.btn-blue,
.btn-orange{
  width: 137px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 4px;
  margin-left: auto;
  margin-top: 22px;
}

.btn-orange{
  color: #000;
  background: #FF9B56;
}
.btn-blue{
  color: #FFF;
  background: #0098FF;
}

.swiper-button-prev,
.swiper-button-next{
  top: 30%;
  &::after{
    display: none;
  }
}
.swiper-button-prev{
  transform: translateX(-15px);
}
.swiper-button-next{
  transform: translateX(15px);
}
.div5 {
  .swiper-button-prev,
  .swiper-button-next{
    top: 50%;
    transform: translateY(-70%);
    -webkit-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,-5px) !important;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset,-5px) !important;
  }
}
@media screen and (max-width: 991.98px) {
  .wrapper-coming-soon {
    padding: 20px 0;
  }
  .div5 {
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
      right: var(--swiper-navigation-sides-offset,-100px) !important;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
      left: var(--swiper-navigation-sides-offset,-100px) !important;
    }
  }
}
