<div class="news-s mb">

  <div class="section section--big" >
    <div class="title">For  <b>investors</b></div>


    <div class="grid-container">

      <div class="grid-item">
        <img class="child1" alt="" src="./img/news/rectangle-611@2x.png">

        <div class="screenshot-2023-01-05-162335-11"></div>
        <b class="b">17.02.2023</b>


        <b class="b1"><img class="union-icon1" alt="" src="./img/news/union51.svg"> 543</b>
        <b class="cruise-tourism-will-container">
          <p class="cruise-tourism-will">
            Cruise tourism will be in the spotlight
          </p>
        </b>
        <div class="tourism-stakeholders-from">
          Tourism stakeholders from all over Indonesia are investing millions
          in upgrading the island's infrastructure to accommodate larger
          cruise ships.
        </div>
      </div>

      <div class="grid-item">
        <img class="child1" alt="" src="./img/news/rectangle-611@2x.png">

        <div class="screenshot-2023-01-05-162335-11"></div>
        <b class="b">17.02.2023</b>


        <b class="b1"><img class="union-icon1" alt="" src="./img/news/union51.svg">543</b>
        <b class="cruise-tourism-will-container">
          <p class="cruise-tourism-will">
            Cruise tourism will be in the spotlight
          </p>
        </b>
        <div class="tourism-stakeholders-from">
          Tourism stakeholders from all over Indonesia are investing millions
          in upgrading the island's infrastructure to accommodate larger
          cruise ships.
        </div>
      </div>

      <div class="grid-item">
        <img class="child1" alt="" src="./img/news/rectangle-611@2x.png">

        <div class="screenshot-2023-01-05-162335-11"></div>
        <b class="b">17.02.2023</b>


        <b class="b1"><img class="union-icon1" alt="" src="./img/news/union51.svg">543</b>
        <b class="cruise-tourism-will-container">
          <p class="cruise-tourism-will">
            Cruise tourism will be in the spotlight
          </p>
        </b>
        <div class="tourism-stakeholders-from">
          Tourism stakeholders from all over Indonesia are investing millions
          in upgrading the island's infrastructure to accommodate larger
          cruise ships.
        </div>
      </div>

    </div>

  </div>

</div>
