<div class="opportunit">


<div class="section section--big">
  <div class="title"> <b>Opportunities</b></div>

  <div class="flex-container flex-container--img">
    <div class="flex-item">

      <div class="rectangle-div"></div>
      <img class="image-34-icon" alt="" src="./img/opportunities/image-344@2x.webp">

      <div class="rectangle-parent">
        <div class="group-child"></div>
        <b class="funded">Funded</b>
      </div>
      <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


      <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
      <div class="grass-yield-907-container">
        <ul class="grass-yield-907-expected">
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Grass Yield </span>
            <b class="b">9.07%</b>
            <span class="expected-return"> • Expected return </span>
            <b class="b">38.52%</b>
          </li>
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Dividend </span>
            <b class="b">7.01%</b>
            <span class="grass-yield"> • Starts from </span>
            <b class="b">390.00 IDR</b>
          </li>
          <li>
            <span class="grass-yield">Dividends Frequency </span>
            <b class="b">Monthly</b>
          </li>
        </ul>
      </div>
      <div class="funding-target-idr">
        Funding Target (IDR - Indonesian rupiah)
      </div>
      <div class="ellipse-parent">
        <div class="group-item"></div>
        <b class="b3">100 %</b>
        <div class="funded1">Funded</div>
      </div>
      <b class="b4">1,300,000.00</b>
      <div class="child1"></div>
      <div class="view-details">VIEW DETAILS</div>
      <img class="image-35-icon" alt="" src="./img/opportunities/image-35@2x.webp">

      <div class="signup-or-login-to-unlock-this-parent">
        <div class="signup-or-login-container">
          <p class="signup-or-login">
            <b>Signup</b>
            <span class="or1"> OR </span>
            <b class="b">Login</b>
          </p>
          <p class="to-unlock-this">to unlock this</p>
        </div>
        <img class="union-icon1" alt="" src="./img/opportunities/union1.svg">
      </div>
    </div>
    <div class="flex-item">

      <div class="rectangle-div"></div>
      <img class="image-34-icon" alt="" src="./img/opportunities/image-344@2x.webp">

      <div class="rectangle-parent">
        <div class="group-child"></div>
        <b class="funded">Funded</b>
      </div>
      <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


      <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
      <div class="grass-yield-907-container">
        <ul class="grass-yield-907-expected">
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Grass Yield </span>
            <b class="b">9.07%</b>
            <span class="expected-return"> • Expected return </span>
            <b class="b">38.52%</b>
          </li>
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Dividend </span>
            <b class="b">7.01%</b>
            <span class="grass-yield"> • Starts from </span>
            <b class="b">390.00 IDR</b>
          </li>
          <li>
            <span class="grass-yield">Dividends Frequency </span>
            <b class="b">Monthly</b>
          </li>
        </ul>
      </div>
      <div class="funding-target-idr">
        Funding Target (IDR - Indonesian rupiah)
      </div>
      <div class="ellipse-parent">
        <div class="group-item"></div>
        <b class="b3">100 %</b>
        <div class="funded1">Funded</div>
      </div>
      <b class="b4">1,300,000.00</b>
      <div class="child1"></div>
      <div class="view-details">VIEW DETAILS</div>
      <img class="image-35-icon" alt="" src="./img/opportunities/image-35@2x.webp">

      <div class="signup-or-login-to-unlock-this-parent">
        <div class="signup-or-login-container">
          <p class="signup-or-login">
            <b>Signup</b>
            <span class="or1"> OR </span>
            <b class="b">Login</b>
          </p>
          <p class="to-unlock-this">to unlock this</p>
        </div>
        <img class="union-icon1" alt="" src="./img/opportunities/union1.svg">
      </div>
    </div>

    <div class="flex-item">

      <div class="rectangle-div"></div>
      <img class="image-34-icon" alt="" src="./img/opportunities/image-344@2x.webp">

      <div class="rectangle-parent">
        <div class="group-child"></div>
        <b class="funded">Funded</b>
      </div>
      <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


      <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
      <div class="grass-yield-907-container">
        <ul class="grass-yield-907-expected">
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Grass Yield </span>
            <b class="b">9.07%</b>
            <span class="expected-return"> • Expected return </span>
            <b class="b">38.52%</b>
          </li>
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Dividend </span>
            <b class="b">7.01%</b>
            <span class="grass-yield"> • Starts from </span>
            <b class="b">390.00 IDR</b>
          </li>
          <li>
            <span class="grass-yield">Dividends Frequency </span>
            <b class="b">Monthly</b>
          </li>
        </ul>
      </div>
      <div class="funding-target-idr">
        Funding Target (IDR - Indonesian rupiah)
      </div>
      <div class="ellipse-parent">
        <div class="group-item"></div>
        <b class="b3">100 %</b>
        <div class="funded1">Funded</div>
      </div>
      <b class="b4">1,300,000.00</b>
      <div class="child1"></div>
      <div class="view-details">VIEW DETAILS</div>
      <img class="image-35-icon" alt="" src="./img/opportunities/image-35@2x.webp">

      <div class="signup-or-login-to-unlock-this-parent">
        <div class="signup-or-login-container">
          <p class="signup-or-login">
            <b>Signup</b>
            <span class="or1"> OR </span>
            <b class="b">Login</b>
          </p>
          <p class="to-unlock-this">to unlock this</p>
        </div>
        <img class="union-icon1" alt="" src="./img/opportunities/union1.svg">
      </div>
    </div>

    <div class="flex-item">

      <div class="rectangle-div"></div>
      <img class="image-34-icon" alt="" src="./img/opportunities/image-344@2x.webp">

      <div class="rectangle-parent">
        <div class="group-child"></div>
        <b class="funded">Funded</b>
      </div>
      <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


      <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
      <div class="grass-yield-907-container">
        <ul class="grass-yield-907-expected">
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Grass Yield </span>
            <b class="b">9.07%</b>
            <span class="expected-return"> • Expected return </span>
            <b class="b">38.52%</b>
          </li>
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Dividend </span>
            <b class="b">7.01%</b>
            <span class="grass-yield"> • Starts from </span>
            <b class="b">390.00 IDR</b>
          </li>
          <li>
            <span class="grass-yield">Dividends Frequency </span>
            <b class="b">Monthly</b>
          </li>
        </ul>
      </div>
      <div class="funding-target-idr">
        Funding Target (IDR - Indonesian rupiah)
      </div>
      <div class="ellipse-parent">
        <div class="group-item"></div>
        <b class="b3">100 %</b>
        <div class="funded1">Funded</div>
      </div>
      <b class="b4">1,300,000.00</b>
      <div class="child1"></div>
      <div class="view-details">VIEW DETAILS</div>
      <img class="image-35-icon" alt="" src="./img/opportunities/image-35@2x.webp">

      <div class="signup-or-login-to-unlock-this-parent">
        <div class="signup-or-login-container">
          <p class="signup-or-login">
            <b>Signup</b>
            <span class="or1"> OR </span>
            <b class="b">Login</b>
          </p>
          <p class="to-unlock-this">to unlock this</p>
        </div>
        <img class="union-icon1" alt="" src="./img/opportunities/union1.svg">
      </div>
    </div>
  </div>


  <div class="flex-container flex-container--img">
    <div class="flex-item">

      <div class="rectangle-div"></div>
      <img class="image-34-icon" alt="" src="./img/opportunities/image-344@2x.webp">

      <div class="rectangle-parent">
        <div class="group-child"></div>
        <b class="funded">Funded</b>
      </div>
      <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


      <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
      <div class="grass-yield-907-container">
        <ul class="grass-yield-907-expected">
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Grass Yield </span>
            <b class="b">9.07%</b>
            <span class="expected-return"> • Expected return </span>
            <b class="b">38.52%</b>
          </li>
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Dividend </span>
            <b class="b">7.01%</b>
            <span class="grass-yield"> • Starts from </span>
            <b class="b">390.00 IDR</b>
          </li>
          <li>
            <span class="grass-yield">Dividends Frequency </span>
            <b class="b">Monthly</b>
          </li>
        </ul>
      </div>
      <div class="funding-target-idr">
        Funding Target (IDR - Indonesian rupiah)
      </div>
      <div class="ellipse-parent">
        <div class="group-item"></div>
        <b class="b3">100 %</b>
        <div class="funded1">Funded</div>
      </div>
      <b class="b4">1,300,000.00</b>
      <div class="child1"></div>
      <div class="view-details">VIEW DETAILS</div>
      <img class="image-35-icon" alt="" src="./img/opportunities/image-35@2x.webp">

      <div class="signup-or-login-to-unlock-this-parent">
        <div class="signup-or-login-container">
          <p class="signup-or-login">
            <b>Signup</b>
            <span class="or1"> OR </span>
            <b class="b">Login</b>
          </p>
          <p class="to-unlock-this">to unlock this</p>
        </div>
        <img class="union-icon1" alt="" src="./img/opportunities/union1.svg">
      </div>
    </div>
    <div class="flex-item">

      <div class="rectangle-div"></div>
      <img class="image-34-icon" alt="" src="./img/opportunities/image-344@2x.webp">

      <div class="rectangle-parent">
        <div class="group-child"></div>
        <b class="funded">Funded</b>
      </div>
      <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


      <div class="bali-indonesia"> <img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
      <div class="grass-yield-907-container">
        <ul class="grass-yield-907-expected">
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Grass Yield </span>
            <b class="b">9.07%</b>
            <span class="expected-return"> • Expected return </span>
            <b class="b">38.52%</b>
          </li>
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Dividend </span>
            <b class="b">7.01%</b>
            <span class="grass-yield"> • Starts from </span>
            <b class="b">390.00 IDR</b>
          </li>
          <li>
            <span class="grass-yield">Dividends Frequency </span>
            <b class="b">Monthly</b>
          </li>
        </ul>
      </div>
      <div class="funding-target-idr">
        Funding Target (IDR - Indonesian rupiah)
      </div>
      <div class="ellipse-parent">
        <div class="group-item"></div>
        <b class="b3">100 %</b>
        <div class="funded1">Funded</div>
      </div>
      <b class="b4">1,300,000.00</b>
      <div class="child1"></div>
      <div class="view-details">VIEW DETAILS</div>
      <img class="image-35-icon" alt="" src="./img/opportunities/image-35@2x.webp">

      <div class="signup-or-login-to-unlock-this-parent">
        <div class="signup-or-login-container">
          <p class="signup-or-login">
            <b>Signup</b>
            <span class="or1"> OR </span>
            <b class="b">Login</b>
          </p>
          <p class="to-unlock-this">to unlock this</p>
        </div>
        <img class="union-icon1" alt="" src="./img/opportunities/union1.svg">
      </div>
    </div>

    <div class="flex-item">

      <div class="rectangle-div"></div>
      <img class="image-34-icon" alt="" src="./img/opportunities/image-344@2x.webp">

      <div class="rectangle-parent">
        <div class="group-child"></div>
        <b class="funded">Funded</b>
      </div>
      <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


      <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
      <div class="grass-yield-907-container">
        <ul class="grass-yield-907-expected">
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Grass Yield </span>
            <b class="b">9.07%</b>
            <span class="expected-return"> • Expected return </span>
            <b class="b">38.52%</b>
          </li>
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Dividend </span>
            <b class="b">7.01%</b>
            <span class="grass-yield"> • Starts from </span>
            <b class="b">390.00 IDR</b>
          </li>
          <li>
            <span class="grass-yield">Dividends Frequency </span>
            <b class="b">Monthly</b>
          </li>
        </ul>
      </div>
      <div class="funding-target-idr">
        Funding Target (IDR - Indonesian rupiah)
      </div>
      <div class="ellipse-parent">
        <div class="group-item"></div>
        <b class="b3">100 %</b>
        <div class="funded1">Funded</div>
      </div>
      <b class="b4">1,300,000.00</b>
      <div class="child1"></div>
      <div class="view-details">VIEW DETAILS</div>
      <img class="image-35-icon" alt="" src="./img/opportunities/image-35@2x.webp">

      <div class="signup-or-login-to-unlock-this-parent">
        <div class="signup-or-login-container">
          <p class="signup-or-login">
            <b>Signup</b>
            <span class="or1"> OR </span>
            <b class="b">Login</b>
          </p>
          <p class="to-unlock-this">to unlock this</p>
        </div>
        <img class="union-icon1" alt="" src="./img/opportunities/union1.svg">
      </div>
    </div>

    <div class="flex-item">

      <div class="rectangle-div"></div>
      <img class="image-34-icon" alt="" src="./img/opportunities/image-344@2x.webp">

      <div class="rectangle-parent">
        <div class="group-child"></div>
        <b class="funded">Funded</b>
      </div>
      <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


      <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
      <div class="grass-yield-907-container">
        <ul class="grass-yield-907-expected">
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Grass Yield </span>
            <b class="b">9.07%</b>
            <span class="expected-return"> • Expected return </span>
            <b class="b">38.52%</b>
          </li>
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Dividend </span>
            <b class="b">7.01%</b>
            <span class="grass-yield"> • Starts from </span>
            <b class="b">390.00 IDR</b>
          </li>
          <li>
            <span class="grass-yield">Dividends Frequency </span>
            <b class="b">Monthly</b>
          </li>
        </ul>
      </div>
      <div class="funding-target-idr">
        Funding Target (IDR - Indonesian rupiah)
      </div>
      <div class="ellipse-parent">
        <div class="group-item"></div>
        <b class="b3">100 %</b>
        <div class="funded1">Funded</div>
      </div>
      <b class="b4">1,300,000.00</b>
      <div class="child1"></div>
      <div class="view-details">VIEW DETAILS</div>
      <img class="image-35-icon" alt="" src="./img/opportunities/image-35@2x.webp">

      <div class="signup-or-login-to-unlock-this-parent">
        <div class="signup-or-login-container">
          <p class="signup-or-login">
            <b>Signup</b>
            <span class="or1"> OR </span>
            <b class="b">Login</b>
          </p>
          <p class="to-unlock-this">to unlock this</p>
        </div>
        <img class="union-icon1" alt="" src="./img/opportunities/union1.svg">
      </div>
    </div>
  </div>


  <!--3-->
  <div class="flex-container flex-container--img">
    <div class="flex-item">

      <div class="rectangle-div"></div>
      <img class="image-34-icon" alt="" src="./img/opportunities/image-348@2x.webp">

      <div class="rectangle-parent">
        <div class="group-child13"></div>
        <b class="funded">Funded</b>
      </div>
      <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


      <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
      <div class="grass-yield-907-container">
        <ul class="grass-yield-907-expected">
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Grass Yield </span>
            <b class="b">9.07%</b>
            <span class="expected-return"> • Expected return </span>
            <b class="b">38.52%</b>
          </li>
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Dividend </span>
            <b class="b">7.01%</b>
            <span class="grass-yield"> • Starts from </span>
            <b class="b">390.00 IDR</b>
          </li>
          <li>
            <span class="grass-yield">Dividends Frequency </span>
            <b class="b">Monthly</b>
          </li>
        </ul>
      </div>
      <div class="funding-target-idr">
        Funding Target (IDR - Indonesian rupiah)
      </div>
      <div class="ellipse-parent">
        <div class="group-item"></div>
        <b class="b3">100 %</b>
        <div class="funded1">Funded</div>
      </div>
      <b class="b4">1,300,000.00</b>
      <div class="child1"></div>
      <div class="view-details">VIEW DETAILS</div>
    </div>
    <div class="flex-item">

      <div class="rectangle-div"></div>
      <img class="image-34-icon" alt="" src="./img/opportunities/image-348@2x.webp">

      <div class="rectangle-parent">
        <div class="group-child13"></div>
        <b class="funded">Funded</b>
      </div>
      <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


      <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
      <div class="grass-yield-907-container">
        <ul class="grass-yield-907-expected">
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Grass Yield </span>
            <b class="b">9.07%</b>
            <span class="expected-return"> • Expected return </span>
            <b class="b">38.52%</b>
          </li>
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Dividend </span>
            <b class="b">7.01%</b>
            <span class="grass-yield"> • Starts from </span>
            <b class="b">390.00 IDR</b>
          </li>
          <li>
            <span class="grass-yield">Dividends Frequency </span>
            <b class="b">Monthly</b>
          </li>
        </ul>
      </div>
      <div class="funding-target-idr">
        Funding Target (IDR - Indonesian rupiah)
      </div>
      <div class="ellipse-parent">
        <div class="group-item"></div>
        <b class="b3">100 %</b>
        <div class="funded1">Funded</div>
      </div>
      <b class="b4">1,300,000.00</b>
      <div class="child1"></div>
      <div class="view-details">VIEW DETAILS</div>
    </div>
    <div class="flex-item">

      <div class="rectangle-div"></div>
      <img class="image-34-icon" alt="" src="./img/opportunities/image-348@2x.webp">

      <div class="rectangle-parent">
        <div class="group-child13"></div>
        <b class="funded">Funded</b>
      </div>
      <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


      <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
      <div class="grass-yield-907-container">
        <ul class="grass-yield-907-expected">
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Grass Yield </span>
            <b class="b">9.07%</b>
            <span class="expected-return"> • Expected return </span>
            <b class="b">38.52%</b>
          </li>
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Dividend </span>
            <b class="b">7.01%</b>
            <span class="grass-yield"> • Starts from </span>
            <b class="b">390.00 IDR</b>
          </li>
          <li>
            <span class="grass-yield">Dividends Frequency </span>
            <b class="b">Monthly</b>
          </li>
        </ul>
      </div>
      <div class="funding-target-idr">
        Funding Target (IDR - Indonesian rupiah)
      </div>
      <div class="ellipse-parent">
        <div class="group-item"></div>
        <b class="b3">100 %</b>
        <div class="funded1">Funded</div>
      </div>
      <b class="b4">1,300,000.00</b>
      <div class="child1"></div>
      <div class="view-details">VIEW DETAILS</div>
    </div>
    <div class="flex-item">

      <div class="rectangle-div"></div>
      <img class="image-34-icon" alt="" src="./img/opportunities/image-348@2x.webp">

      <div class="rectangle-parent">
        <div class="group-child13"></div>
        <b class="funded">Funded</b>
      </div>
      <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


      <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
      <div class="grass-yield-907-container">
        <ul class="grass-yield-907-expected">
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Grass Yield </span>
            <b class="b">9.07%</b>
            <span class="expected-return"> • Expected return </span>
            <b class="b">38.52%</b>
          </li>
          <li class="dividend-701-starts-from">
            <span class="grass-yield">Dividend </span>
            <b class="b">7.01%</b>
            <span class="grass-yield"> • Starts from </span>
            <b class="b">390.00 IDR</b>
          </li>
          <li>
            <span class="grass-yield">Dividends Frequency </span>
            <b class="b">Monthly</b>
          </li>
        </ul>
      </div>
      <div class="funding-target-idr">
        Funding Target (IDR - Indonesian rupiah)
      </div>
      <div class="ellipse-parent">
        <div class="group-item"></div>
        <b class="b3">100 %</b>
        <div class="funded1">Funded</div>
      </div>
      <b class="b4">1,300,000.00</b>
      <div class="child1"></div>
      <div class="view-details">VIEW DETAILS</div>
    </div>
  </div>

 <!--4-->
 <div class="flex-container flex-container--img">
  <div class="flex-item">

    <div class="rectangle-div"></div>
    <img class="image-34-icon" alt="" src="./img/opportunities/image-348@2x.webp">

    <div class="rectangle-parent">
      <div class="group-child13"></div>
      <b class="funded">Funded</b>
    </div>
    <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


    <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
    <div class="grass-yield-907-container">
      <ul class="grass-yield-907-expected">
        <li class="dividend-701-starts-from">
          <span class="grass-yield">Grass Yield </span>
          <b class="b">9.07%</b>
          <span class="expected-return"> • Expected return </span>
          <b class="b">38.52%</b>
        </li>
        <li class="dividend-701-starts-from">
          <span class="grass-yield">Dividend </span>
          <b class="b">7.01%</b>
          <span class="grass-yield"> • Starts from </span>
          <b class="b">390.00 IDR</b>
        </li>
        <li>
          <span class="grass-yield">Dividends Frequency </span>
          <b class="b">Monthly</b>
        </li>
      </ul>
    </div>
    <div class="funding-target-idr">
      Funding Target (IDR - Indonesian rupiah)
    </div>
    <div class="ellipse-parent">
      <div class="group-item"></div>
      <b class="b3">100 %</b>
      <div class="funded1">Funded</div>
    </div>
    <b class="b4">1,300,000.00</b>
    <div class="child1"></div>
    <div class="view-details">VIEW DETAILS</div>
  </div>
  <div class="flex-item">

    <div class="rectangle-div"></div>
    <img class="image-34-icon" alt="" src="./img/opportunities/image-348@2x.webp">

    <div class="rectangle-parent">
      <div class="group-child13"></div>
      <b class="funded">Funded</b>
    </div>
    <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


    <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
    <div class="grass-yield-907-container">
      <ul class="grass-yield-907-expected">
        <li class="dividend-701-starts-from">
          <span class="grass-yield">Grass Yield </span>
          <b class="b">9.07%</b>
          <span class="expected-return"> • Expected return </span>
          <b class="b">38.52%</b>
        </li>
        <li class="dividend-701-starts-from">
          <span class="grass-yield">Dividend </span>
          <b class="b">7.01%</b>
          <span class="grass-yield"> • Starts from </span>
          <b class="b">390.00 IDR</b>
        </li>
        <li>
          <span class="grass-yield">Dividends Frequency </span>
          <b class="b">Monthly</b>
        </li>
      </ul>
    </div>
    <div class="funding-target-idr">
      Funding Target (IDR - Indonesian rupiah)
    </div>
    <div class="ellipse-parent">
      <div class="group-item"></div>
      <b class="b3">100 %</b>
      <div class="funded1">Funded</div>
    </div>
    <b class="b4">1,300,000.00</b>
    <div class="child1"></div>
    <div class="view-details">VIEW DETAILS</div>
  </div>
  <div class="flex-item">

    <div class="rectangle-div"></div>
    <img class="image-34-icon" alt="" src="./img/opportunities/image-348@2x.webp">

    <div class="rectangle-parent">
      <div class="group-child13"></div>
      <b class="funded">Funded</b>
    </div>
    <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


    <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
    <div class="grass-yield-907-container">
      <ul class="grass-yield-907-expected">
        <li class="dividend-701-starts-from">
          <span class="grass-yield">Grass Yield </span>
          <b class="b">9.07%</b>
          <span class="expected-return"> • Expected return </span>
          <b class="b">38.52%</b>
        </li>
        <li class="dividend-701-starts-from">
          <span class="grass-yield">Dividend </span>
          <b class="b">7.01%</b>
          <span class="grass-yield"> • Starts from </span>
          <b class="b">390.00 IDR</b>
        </li>
        <li>
          <span class="grass-yield">Dividends Frequency </span>
          <b class="b">Monthly</b>
        </li>
      </ul>
    </div>
    <div class="funding-target-idr">
      Funding Target (IDR - Indonesian rupiah)
    </div>
    <div class="ellipse-parent">
      <div class="group-item"></div>
      <b class="b3">100 %</b>
      <div class="funded1">Funded</div>
    </div>
    <b class="b4">1,300,000.00</b>
    <div class="child1"></div>
    <div class="view-details">VIEW DETAILS</div>
  </div>
  <div class="flex-item">

    <div class="rectangle-div"></div>
    <img class="image-34-icon" alt="" src="./img/opportunities/image-348@2x.webp">

    <div class="rectangle-parent">
      <div class="group-child13"></div>
      <b class="funded">Funded</b>
    </div>
    <b class="bedroom-in-park">1-Bedroom in Park Towers, DIFC</b>


    <div class="bali-indonesia"><img class="subtract-icon" alt="" src="./img/opportunities/subtract.svg">Bali, Indonesia</div>
    <div class="grass-yield-907-container">
      <ul class="grass-yield-907-expected">
        <li class="dividend-701-starts-from">
          <span class="grass-yield">Grass Yield </span>
          <b class="b">9.07%</b>
          <span class="expected-return"> • Expected return </span>
          <b class="b">38.52%</b>
        </li>
        <li class="dividend-701-starts-from">
          <span class="grass-yield">Dividend </span>
          <b class="b">7.01%</b>
          <span class="grass-yield"> • Starts from </span>
          <b class="b">390.00 IDR</b>
        </li>
        <li>
          <span class="grass-yield">Dividends Frequency </span>
          <b class="b">Monthly</b>
        </li>
      </ul>
    </div>
    <div class="funding-target-idr">
      Funding Target (IDR - Indonesian rupiah)
    </div>
    <div class="ellipse-parent">
      <div class="group-item"></div>
      <b class="b3">100 %</b>
      <div class="funded1">Funded</div>
    </div>
    <b class="b4">1,300,000.00</b>
    <div class="child1"></div>
    <div class="view-details">VIEW DETAILS</div>
  </div>
</div>



  </div>
</div>
