<div class="about">


  <div class="section ">
    <div class="title">About <b>service</b></div>
    <p>Estatium is a platform that offers high-quality real estate investment opportunities, along with business and mortgage loan investments, through real estate crowdfunding. Through our partnerships with experienced developers, we have access to a large number of exclusive off-market real estate investments. We conduct rigorous due diligence to ensure that only the best investment opportunities are published. </p>
  <p>Our platform offers extensive background information, business plans, and financial models, making it easy for investors to invest in projects with a low minimum investment of just 5000 dollars US. Additionally, investors can benefit from our secondary market, which allows them to buy and sell investments.</p>
      <p>At Crowdestate, we are changing the way people invest in real estate. Join us today and turn your savings into earnings.</p>

      <div class="flex-container">
        <div class="flex-item">Our 100-point proprietary screening tool allows us to source, screen,

          and verify investment properties thoroughly, ensuring that we only present you with the most excellent opportunities. Additionally, to provide you with extra assurance, we utilize a third-party valuator to corroborate our evaluation.</div>
        <div class="flex-item">After the property has been fully funded, we establish a Special Purpose Vehicle (SPV) within the Indonesia International Financial Centre for the specific property.

          As a result, you and your

          co-investors are designated as official owners of that SPV.</div>
        <div class="flex-item">Your digital wallet receives rental income that corresponds to your investment amount, which you can withdraw or reinvest as desired. Typically, rental returns are disbursed according to the conditions specified in the

          tenancy agreement.</div>
        <div class="flex-item">While the recommended holding period for real estate investments is 2-3 years, it is possible to exit your investment at any time by either listing your shares in the share transfer or calling for a vote to sell the property.</div>
      </div>

      <div class="sed-diam">
        <img src="./img/about/image036.webp" alt="">
      </div>
      <div class="btn-blue">invest</div>

  </div>

  <div class="section">
    <div class="title">About <b>company</b></div>

  <p>A real estate crowdfunding company is a business that utilizes an online platform to connect investors with opportunities to invest in highly liquid real estate projects. This type of company typically pools funds from multiple investors to invest in a variety of real estate assets, including residential, commercial, and industrial properties.
  </p>


  <p>The focus of the company is to invest in real estate assets that are highly liquid, which means that they can be easily bought and sold without significant fluctuations in price. These assets may include properties in high-demand areas or those that have strong cash flow potential.
  </p>


  <p>The crowdfunding platform provides a streamlined process for investors to participate in these investments. Investors can typically browse through a range of investment opportunities and select the ones that align with their investment goals and risk tolerance. They can also track their investment performance through the platform.
  </p>


  <p>The company's team typically includes real estate experts who conduct thorough due diligence on each investment opportunity before presenting it to potential investors. They analyze market trends, property values, and other factors to ensure that each investment has the potential to generate strong returns.
  </p>


  <p>Overall, a real estate crowdfunding company that invests in highly liquid real estate projects provides investors with access to a diversified portfolio of real estate assets while offering a streamlined and efficient investment process.
  </p>

  <div class="flex-container flex-container--img">
    <div class="flex-item">
      <img src="./img/about/screenshot20230105162335-7@2x.webp" alt="">
   </div>
    <div class="flex-item">
      <img src="./img/about/screenshot20230105162335-9@2x.webp" alt="">
    </div>
    <div class="flex-item">
      <img src="./img/about/screenshot20230105162335-11@2x.webp" alt="">
    </div>
    <div class="flex-item">
      <img src="./img/about/screenshot20230105162335-13@2x.webp" alt="">
    </div>
  </div>
  <div class="btn-blue">invest</div>

  </div>





  <div class="section mb">
    <div class="title">Our <b>Team</b></div>
    <p>The team of professionals is highly skilled and knowledgeable in their respective fields, with a strong track record of providing exceptional support to clients. They are dedicated to delivering top-quality service and ensuring that clients' needs are met in a timely and effective manner. With their combined expertise and experience, the team is capable of addressing a wide range of issues and challenges that clients may encounter. Whether you require technical assistance, strategic guidance, or simply a sounding board for your ideas, the team is always available and ready to help.</p>

    <div class="flex-container flex-container--img">
      <div class="flex-item">
        <img src="./img/about/screenshot20230105162335-15@2x.webp" alt="">
        <div class="flex-container-name">Kulikov Anton</div>
        <div class="flex-container-pos">Founder</div>
        <div class="flex-container-soc">
          <div class="icon-5"></div>
          <div class="icon-6"></div>
        </div>

      </div>
      <div class="flex-item">
        <img src="./img/about/screenshot20230105162335-16@2x.webp" alt="">
        <div class="flex-container-name">Kulikov Anton</div>
        <div class="flex-container-pos">Co-founder</div>
        <div class="flex-container-soc">
          <div class="icon-5"></div>
          <div class="icon-6"></div>
        </div>
      </div>
      <div class="flex-item">
        <img src="./img/about/screenshot20230105162335-17@2x.webp" alt="">
        <div class="flex-container-name">Kulikov Anton</div>
        <div class="flex-container-pos">CTO</div>
        <div class="flex-container-soc">
          <div class="icon-5"></div>
          <div class="icon-6"></div>
        </div>
      </div>
      <div class="flex-item">
        <img src="./img/about/screenshot20230105162335-18@2x.webp" alt="">
        <div class="flex-container-name">Kulikov Anton</div>
        <div class="flex-container-pos">CFO</div>
        <div class="flex-container-soc">
          <div class="icon-5"></div>
          <div class="icon-6"></div>
        </div>
      </div>
    </div>

  </div>



</div>
