<div class="section about">
  <div class="title">About <b>service</b></div>
  <p>Estatium is a platform that offers high-quality real estate investment opportunities, along with business and mortgage loan investments, through real estate crowdfunding. Through our partnerships with experienced developers, we have access to a large number of exclusive off-market real estate investments. We conduct rigorous due diligence to ensure that only the best investment opportunities are published. </p>
<p>Our platform offers extensive background information, business plans, and financial models, making it easy for investors to invest in projects with a low minimum investment of just 5000 dollars US. Additionally, investors can benefit from our secondary market, which allows them to buy and sell investments.</p>
    <p>At Crowdestate, we are changing the way people invest in real estate. Join us today and turn your savings into earnings.</p>

    <div class="flex-container">
      <div class="flex-item">Our 100-point proprietary screening tool allows us to source, screen,

        and verify investment properties thoroughly, ensuring that we only present you with the most excellent opportunities. Additionally, to provide you with extra assurance, we utilize a third-party valuator to corroborate our evaluation.</div>
      <div class="flex-item">After the property has been fully funded, we establish a Special Purpose Vehicle (SPV) within the Indonesia International Financial Centre for the specific property.

        As a result, you and your

        co-investors are designated as official owners of that SPV.</div>
      <div class="flex-item">Your digital wallet receives rental income that corresponds to your investment amount, which you can withdraw or reinvest as desired. Typically, rental returns are disbursed according to the conditions specified in the

        tenancy agreement.</div>
      <div class="flex-item">While the recommended holding period for real estate investments is 2-3 years, it is possible to exit your investment at any time by either listing your shares in the share transfer or calling for a vote to sell the property.</div>
    </div>

    <div class="sed-diam">

    </div>

</div>


