
<div class="div21">
  <div class="child24"></div>
  <img class="icon2" alt="" src="./img/@2x.webp" />

  <b class="get-started">Get started</b>
  <div class="home-sign-up-container">
    <p class="home">Home</p>
    <p class="sign-up1">Sign Up</p>
    <p class="the-smartest">Login</p>
  </div>
  <b class="about-us1">About us</b>
  <div class="opportunities-for-investors-container">
    <p class="sign-up1">Opportunities</p>
    <p class="sign-up1">For investors</p>
    <p class="sign-up1">Earn for free</p>
    <p class="the-smartest">News</p>
  </div>
  <b class="support">Support</b>
  <b class="social-networks">Social networks:</b>
  <div class="faq-contacts">
    <p class="sign-up1">FAQ</p>
    <p class="the-smartest">Contacts</p>
  </div>
  <img class="facebook-icon" alt="" src="./img/facebook.svg" />

  <img class="twitter-icon" alt="" src="./img/twitter.svg" />

  <div class="line-div"></div>
  <div class="copyright-2023-all">
    Copyright 2023. All rights reserved
  </div>
  <div class="privacy-policy">Privacy policy</div>
  <div class="user-agreement">User agreement</div>
  <div class="child25"></div>
  <div class="to-the-top">To the top</div>
  <div class="union8">
    <div class="union-child14"></div>
    <div class="union-child15"></div>
  </div>
</div>
<!--<footer class="footer">
  <div class="container"></div>
</footer>-->
