
<div class="div21 footer">
  <!-- <div class="child24"></div> -->
  <div class="flexfooter">
    <img class="icon2" alt="" src="./img/@2x.webp" />


    <ul class="home-sign-up-container">
      <b class="get-started">Get started</b>
      <li><a href="#!" class="home">Home</a></li>
      <li><a href="#!" class="sign-up1">Sign Up</a></li>
      <li><a href="#!" class="the-smartest">Login</a></li>
    </ul>

    <ul class="opportunities-for-investors-container">
      <b class="about-us1">About us</b>
      <li><a href="#!" class="sign-up1">Opportunities</a></li>
      <li><a href="#!" class="sign-up1">For investors</a></li>
      <li><a href="#!" class="sign-up1">Earn for free</a></li>
      <li><a href="#!" class="the-smartest">News</a></li>
    </ul>


    <ul class="faq-contacts">
      <b class="support">Support</b>
      <li><a href="#!" class="sign-up1">FAQ</a></li>
      <li><a href="#!" class="the-smartest">Contacts</a></li>
    </ul>
    <ul class="social-net">
      <b class="social-networks">Social networks:</b>
      <li><a href="#!"><img class="facebook-icon" alt="" src="./img/facebook.svg" /></a>
      <a href="#!"><img class="twitter-icon" alt="" src="./img/twitter.svg" /></a></li>
    </ul>

  </div>

  <div class="line-div"></div>
  <div class="copyright-2023-all">
    Copyright 2023. All rights reserved
  </div>
  <div class="privacy-policy">Privacy policy</div>
  <div class="user-agreement">User agreement</div>
  <div class="child25"></div>
  <div class="to-the-top">To the top</div>
  <div class="union8">
    <div class="union-child14"></div>
    <div class="union-child15"></div>
  </div>
</div>
<!--<footer class="footer">
  <div class="container"></div>
</footer>-->
