<!--<header class="header">
  <div class="container"></div>
</header>
-->

<header class="header">

  <div class="div2">
    <div class="homepage">
      <a href="https://investors.sas-prometey.ru/userfrontendpage/mainpage/index.html">Homepage</a>
    </div>
    <div class="about-us">
      <a href="https://investors.sas-prometey.ru/userfrontendpage/statepageuser2/about service" target="_blank">About
        us</a>
    </div>
    <div class="opportunities">
      <a href="https://investors.sas-prometey.ru/userfrontendpage/catalog" target="_blank">Opportunities</a>
    </div>
    <div class="for-investors">

      <a href="https://investors.sas-prometey.ru/userfrontendpage/for investor" target="_blank">For investor</a>

    </div>
    <div class="earn-for-free">
      <a href="#">
        Earn for free
      </a>
    </div>
    <div class="news">
      <a href="https://investors.sas-prometey.ru/userfrontendpage/news" target="_blank">News</a>
    </div>
    <div class="faq">
      <a href="#">
        FAQ
      </a>
    </div>
    <div class="contacts">
      <a href="https://investors.sas-prometey.ru/userfrontendpage/statepageuser2/Contact us.html" target="_blank">
        Contacts</a>

    </div>

    <div class="contacts2">
      <a href="https://investors.sas-prometey.ru/userfrontendpage/statepageuser2/Contact us.html" target="_blank">
        <img class="union-icon3" alt="" src="./img/union.svg"></a>

    </div>

    <div class="div3">
      <div class="inner"></div>
      <div class="sign-up">
        <a href="#">
          Sign Up
        </a>
      </div>
      <div class="or">or</div>
      <div class="rectangle-div"></div>
      <div class="login"><a href="#">Login</a></div>
    </div>
    <img class="icon" alt="" src="./img/@2x.webp" />

    <img class="line-icon" alt="" src="./img/line-1.svg" />
  </div>

  <div class="div14">
    <div class="en">EN</div>
    <img class="mask-group-icon" alt="" src="./img/mask-group.svg" />

    <div class="union7">
      <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9852 0.292893C12.5947 -0.0976312 11.9615 -0.097631 11.571 0.292893L6.59611 5.26775L1.70711 0.378744C1.31658 -0.0117805 0.683417 -0.0117806 0.292893 0.378744C-0.0976312 0.769268 -0.097631 1.40243 0.292893 1.79296L5.94975 7.44981C6.34027 7.84034 6.97344 7.84034 7.36396 7.44981C7.4662 7.34757 7.54167 7.2287 7.59038 7.10191L12.9852 1.70711C13.3757 1.31658 13.3757 0.683417 12.9852 0.292893Z" fill="white"/>
        </svg>
    </div>
  </div>

</header>

<div class="div1-wrapper"></div>
