<!--<header class="header">
  <div class="container"></div>
</header>
-->

<header class="header ">

  <div class="container">

    <div class="header-left">

      <a class="logo"></a>

      <nav class="header__menu menu-active">
        <a href="#" class="active-link">Homepage</a>
        <a href="#" >About us</a>
        <a href="#" >Opportunities</a>
        <a href="#" >For investor</a>
        <a href="#" >Earn for free</a>
        <a href="#" >News</a>
        <a href="#" >FAQ</a>
        <a href="#" >Contacts</a>

      </nav>

      <form class="form-search" action="#">
        <button type="submit" class="btn-search btn-reset"></button>
      </form>

    </div>



    <div class="header-right">
      <div class="authoriz">
        <a class="authoriz__sign-up" href="#">Sign Up</a>
        <span class="authoriz__or">or</span>
        <a class="authoriz__login" href="#">Login</a>
      </div>


      <div class="dropdown">
        <div class="dropbtn">
          <div class="language">EN</div>
          <div class="dropflag"><img  alt="" src="./img/mask-group.svg" /></div>
        </div>
        <div class="dropdown-content">
          <a href="#"><img  alt="" src="./img/mask-group.svg" /></a>
          <a href="#"><img alt="" src="./img/mask-group.svg" /></a>
        </div>
      </div>
    </div>


  </div>


</header>

<div class="header-bg"></div>
