<!--1 Первый экран-->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="div1">
        <img class="p-doma-na-bali-foto-3-1-icon" alt="" src="./img/1633308790-3pdomanabalifoto3-1@2x.webp" />

        <div class="child"></div>
        <img class="x-8-1-icon" alt="" src="./img/3--272x8-1@2x.webp" />

        <div class="item"></div>

      </div>
      <div class="div4">
        <div class="the-smartest-way-container">
          <span class="video-presentation-txt-container">
            <p class="the-smartest">
              <span class="the-smartest1">The Smartest</span>
              <b> </b>
            </p>
            <p class="the-smartest">
              <b>Way to Invest in Real Estate</b>
            </p>
          </span>
        </div>
        <div class="start-investing-in">
          Start investing in prime Bali sell and rental properties and earn up
          to 12% with first and largest real estate crowdfunding platform.
        </div>
        <div class="child1"></div>
        <a href="#!" class="read-more">READ MORE</a>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="div1">
        <img class="p-doma-na-bali-foto-3-1-icon" alt="" src="./img/1633308790-3pdomanabalifoto3-1@2x.webp" />

        <div class="child"></div>
        <img class="x-8-1-icon" alt="" src="./img/3--272x8-1@2x.webp" />

        <div class="item"></div>

      </div>
      <div class="div4">
        <div class="the-smartest-way-container">
          <span class="video-presentation-txt-container">
            <p class="the-smartest">
              <span class="the-smartest1">The Smartest</span>
              <b> </b>
            </p>
            <p class="the-smartest">
              <b>Way to Invest in Real Estate</b>
            </p>
          </span>
        </div>
        <div class="start-investing-in">
          Start investing in prime Bali sell and rental properties and earn up
          to 12% with first and largest real estate crowdfunding platform.
        </div>
        <div class="child1"></div>
        <div class="read-more">READ MORE</div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="div1">
        <img class="p-doma-na-bali-foto-3-1-icon" alt="" src="./img/1633308790-3pdomanabalifoto3-1@2x.webp" />

        <div class="child"></div>
        <img class="x-8-1-icon" alt="" src="./img/3--272x8-1@2x.webp" />

        <div class="item"></div>

      </div>
      <div class="div4">
        <div class="the-smartest-way-container">
          <span class="video-presentation-txt-container">
            <p class="the-smartest">
              <span class="the-smartest1">The Smartest</span>
              <b> </b>
            </p>
            <p class="the-smartest">
              <b>Way to Invest in Real Estate</b>
            </p>
          </span>
        </div>
        <div class="start-investing-in">
          Start investing in prime Bali sell and rental properties and earn up
          to 12% with first and largest real estate crowdfunding platform.
        </div>
        <div class="child1"></div>
        <div class="read-more">READ MORE</div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="div1">
        <img class="p-doma-na-bali-foto-3-1-icon" alt="" src="./img/1633308790-3pdomanabalifoto3-1@2x.webp" />

        <div class="child"></div>
        <img class="x-8-1-icon" alt="" src="./img/3--272x8-1@2x.webp" />

        <div class="item"></div>

      </div>
      <div class="div4">
        <div class="the-smartest-way-container">
          <span class="video-presentation-txt-container">
            <p class="the-smartest">
              <span class="the-smartest1">The Smartest</span>
              <b> </b>
            </p>
            <p class="the-smartest">
              <b>Way to Invest in Real Estate</b>
            </p>
          </span>
        </div>
        <div class="start-investing-in">
          Start investing in prime Bali sell and rental properties and earn up
          to 12% with first and largest real estate crowdfunding platform.
        </div>
        <div class="child1"></div>
        <div class="read-more">READ MORE</div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="div1">
        <img class="p-doma-na-bali-foto-3-1-icon" alt="" src="./img/1633308790-3pdomanabalifoto3-1@2x.webp" />

        <div class="child"></div>
        <img class="x-8-1-icon" alt="" src="./img/3--272x8-1@2x.webp" />

        <div class="item"></div>

      </div>
      <div class="div4">
        <div class="the-smartest-way-container">
          <span class="video-presentation-txt-container">
            <p class="the-smartest">
              <span class="the-smartest1">The Smartest</span>
              <b> </b>
            </p>
            <p class="the-smartest">
              <b>Way to Invest in Real Estate</b>
            </p>
          </span>
        </div>
        <div class="start-investing-in">
          Start investing in prime Bali sell and rental properties and earn up
          to 12% with first and largest real estate crowdfunding platform.
        </div>
        <div class="child1"></div>
        <div class="read-more">READ MORE</div>
      </div>
    </div>

  </div>
  <div class="swiper-pagination"></div>
</div>



