<!-- 2 Live and Coming Soon Properties -->
<div class="div5">
  <b class="live-and-coming">Live and Coming Soon Properties</b>
  <img class="child2" alt="" src="./img/line-2.svg" />





  <div class="div5-item">
    <img class="screenshot-2023-01-05-162335-1-icon" alt="" src="./img/screenshot20230105162335-1@2x.webp" />

    <img class="screenshot-2023-01-05-162335-6-icon" alt="" src="./img/screenshot20230105162335-6.svg" />

    <div class="hotel-in-the">Hotel in the north of Bali</div>
    <div class="div5-head">Hotel in the north of Bali</div>

    <img class="union-icon1" alt="" src="./img/union1.svg" />

    <div class="hours-left">238 hours left</div>
    <img class="union-icon2" alt="" src="./img/union2.svg" />

    <div class="interested-investors">37 interested investors</div>
    <div class="child3"></div>
    <div class="read-more1">READ MORE</div>
  </div>




  <div class="div5-item">
    <img class="screenshot-2023-01-05-162335-9-icon" alt="" src="./img/screenshot20230105162335-9@2x.webp" />

    <div class="screenshot-2023-01-05-162335-1"></div>
    <div class="large-luxury-villa">Large luxury villa</div>
    <img class="union-icon1" alt="" src="./img/union1.svg" />

    <div class="hours-left1">354 hours left</div>
    <img class="union-icon2" alt="" src="./img/union3.svg" />

    <div class="interested-investors1">8 interested investors</div>
    <div class="child4"></div>
    <div class="read-more2">READ MORE</div>
  </div>


  <div class="div5-item">
    <img class="screenshot-2023-01-05-162335-7-icon" alt="" src="./img/screenshot20230105162335-7@2x.webp" />

    <div class="screenshot-2023-01-05-162335-8"></div>
    <div class="the-umalas-signature">The Umalas Signature Complex</div>
    <img class="union-icon1" alt="" src="./img/union1.svg" />

    <div class="hours-left2">6547 hours left</div>
    <img class="union-icon2" alt="" src="./img/union4.svg" />

    <div class="interested-investors2">323 interested investors</div>
    <div class="child5"></div>
    <div class="read-more3">READ MORE</div>
  </div>


  <div class="swiper mySwiper2">
    <div class="swiper-wrapper">
      <div class="swiper-slide">

        <div class="coming-soon coming-soon__first">
          <img  alt="" src="./img/screenshot-2023-01-05-162335 11.webp" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="coming-soon ">
          <img  alt="" src="./img/screenshot20230105162335-9@2x.webp" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="coming-soon ">
          <img alt="" src="./img/screenshot20230105162335-7@2x.webp" />
        </div>
      </div>


    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

  </div>


  <div class="union">
    <div class="union-child"></div>
    <div class="union-item"></div>
  </div>
  <div class="union1">
    <div class="union-inner"></div>
    <div class="union-child1"></div>
  </div>



</div>



