<!--1 Первый экран-->
<div class="div">
  <div class="div1">
    <img class="p-doma-na-bali-foto-3-1-icon" alt="" src="./img/1633308790-3pdomanabalifoto3-1@2x.png" />

    <div class="child"></div>
    <img class="x-8-1-icon" alt="" src="./img/3--272x8-1@2x.png" />

    <div class="item"></div>
    <div class="div2">
      <div class="homepage">
        <a href="https://investors.sas-prometey.ru/userfrontendpage/mainpage/index.html">Homepage</a>
      </div>
      <div class="about-us">
        <a href="https://investors.sas-prometey.ru/userfrontendpage/statepageuser2/about service" target="_blank">About
          us</a>
      </div>
      <div class="opportunities">
        <a href="https://investors.sas-prometey.ru/userfrontendpage/catalog" target="_blank">Opportunities</a>
      </div>
      <div class="for-investors">

        <a href="https://investors.sas-prometey.ru/userfrontendpage/for investor" target="_blank">For investor</a>

      </div>
      <div class="earn-for-free">
        <a href="#">
          Earn for free
        </a>
      </div>
      <div class="news">
        <a href="https://investors.sas-prometey.ru/userfrontendpage/news" target="_blank">News</a>
      </div>
      <div class="faq">
        <a href="#">
          FAQ
        </a>
      </div>
      <div class="contacts">
        <a href="https://investors.sas-prometey.ru/userfrontendpage/statepageuser2/Contact us.html" target="_blank">
          Contacts</a>

      </div>

      <div class="contacts2">
        <a href="https://investors.sas-prometey.ru/userfrontendpage/statepageuser2/Contact us.html" target="_blank">
          <img class="union-icon3" alt="" src="./img/union.svg"></a>

      </div>




      <div class="div3">
        <div class="inner"></div>
        <div class="sign-up">
          <a href="#">
            Sign Up
          </a>
        </div>
        <div class="or">or</div>
        <div class="rectangle-div"></div>
        <div class="login"><a href="#">Login</a></div>
      </div>
      <img class="icon" alt="" src="./img/@2x.png" />

      <img class="line-icon" alt="" src="./img/line-1.svg" />
    </div>
  </div>
  <div class="div4">
    <div class="the-smartest-way-container">
      <span class="video-presentation-txt-container">
        <p class="the-smartest">
          <span class="the-smartest1">The Smartest</span>
          <b> </b>
        </p>
        <p class="the-smartest">
          <b>Way to Invest in Real Estate</b>
        </p>
      </span>
    </div>
    <div class="start-investing-in">
      Start investing in prime Bali sell and rental properties and earn up
      to 12% with first and largest real estate crowdfunding platform.
    </div>
    <div class="child1"></div>
    <div class="read-more">READ MORE</div>
    <img class="icon1" alt="" src="./img/1.svg" />
  </div>
  <div class="div5">
    <b class="live-and-coming">Live and Coming Soon Properties</b>
    <img class="child2" alt="" src="./img/line-2.svg" />

    <img class="screenshot-2023-01-05-162335-1-icon" alt="" src="./img/screenshot20230105162335-1@2x.png" />

    <img class="screenshot-2023-01-05-162335-6-icon" alt="" src="./img/screenshot20230105162335-6.svg" />

    <div class="hotel-in-the">Hotel in the north of Bali</div>
    <img class="union-icon1" alt="" src="./img/union1.svg" />

    <div class="hours-left">238 hours left</div>
    <img class="union-icon2" alt="" src="./img/union2.svg" />

    <div class="interested-investors">37 interested investors</div>
    <div class="child3"></div>
    <div class="read-more1">READ MORE</div>
    <img class="screenshot-2023-01-05-162335-9-icon" alt="" src="./img/screenshot20230105162335-9@2x.png" />

    <div class="screenshot-2023-01-05-162335-1"></div>
    <div class="large-luxury-villa">Large luxury villa</div>
    <img class="union-icon1" alt="" src="./img/union1.svg" />

    <div class="hours-left1">354 hours left</div>
    <img class="union-icon2" alt="" src="./img/union3.svg" />

    <div class="interested-investors1">8 interested investors</div>
    <div class="child4"></div>
    <div class="read-more2">READ MORE</div>
    <img class="screenshot-2023-01-05-162335-7-icon" alt="" src="./img/screenshot20230105162335-7@2x.png" />

    <div class="screenshot-2023-01-05-162335-8"></div>
    <div class="the-umalas-signature">The Umalas Signature Complex</div>
    <img class="union-icon1" alt="" src="./img/union1.svg" />

    <div class="hours-left2">6547 hours left</div>
    <img class="union-icon2" alt="" src="./img/union4.svg" />

    <div class="interested-investors2">323 interested investors</div>
    <div class="child5"></div>
    <div class="read-more3">READ MORE</div>
    <div class="union">
      <div class="union-child"></div>
      <div class="union-item"></div>
    </div>
    <div class="union1">
      <div class="union-inner"></div>
      <div class="union-child1"></div>
    </div>
  </div>
  <div class="div6">
    <div class="child6"></div>
    <img class="bali-1-icon" alt="" src="./img/bali-1@2x.png" />

    <b class="estatuium">Estatuium</b>
    <div class="estatium-is-a">
      Estatium is a platform that offers high-quality real estate investment
      opportunities, along with business and mortgage loan investments,
      through real estate crowdfunding.
    </div>
    <img class="dc45e5b89121830a355d58c562573d-icon" alt="" src="./img/88dc45e5b89121830a355d58c562573d-1@2x.png" />
  </div>
  <div class="div7">
    <div class="video-presentation">
      <span class="video-presentation-txt-container">
        <p class="the-smartest">
          <span class="video">Video</span>
          <b> </b>
        </p>
        <p class="the-smartest">
          <b>presentation</b>
        </p>
      </span>
    </div>
    <div class="watch-the-video">
      Watch the video review of the interior and exterior of the house.
      Everything was shot in detail on camera in good quality. You will be
      interested to see how everything works in this house. How the rooms,
      kitchen, utility area and much more are located. In our detailed video
      review.
    </div>
    <img class="p-doma-na-bali-foto-3-2-icon" alt="" src="./img/1633308790-3pdomanabalifoto3-2@2x.png" />

    <div class="screenshot-2023-01-05-162335-6"></div>
    <div class="child7"></div>
    <div class="view-more-real">View more real estate</div>
    <img class="polygon-icon" alt="" src="./img/polygon-1.svg" />

    <div class="ellipse-div"></div>
  </div>
  <div class="div8">
    <div class="child8"></div>
    <div class="how-the-service-container">
      <span>How the</span>
      <b> service work</b>
    </div>
    <div class="your-digital-wallet">
      Your digital wallet receives rental income based on your investment
      amount, which you can withdraw or reinvest as desired. Rental returns
      are usually disbursed according to the tenancy agreement's specified
      conditions.
    </div>
    <div class="our-100-point-tool">
      Our 100-point tool screens and verifies investment properties for
      top-notch opportunities. We use a third-party valuator to validate our
      evaluation for added assurance.
    </div>
    <div class="once-fully-funded">
      Once fully funded, we create an SPV in the Indonesia International
      Financial Centre for the property, designating you and your
      co-investors as official owners.
    </div>
    <div class="although-the-suggested">
      Although the suggested holding period for real estate investments is
      2-3 years, you can exit your investment anytime by listing your shares
      in the share transfer or calling for a vote to sell the property.
    </div>
    <div class="after-the-sale">
      After the sale, the income is distributed among all shareholders of
      the Special Purpose Vehicle (SPV). After that, participants can use
      the profits to buy new objects or take them from the platform to their
      bank account
    </div>
    <div class="child9"></div>
    <div class="union2">
      <div class="union-child2"></div>
      <div class="union-child3"></div>
    </div>
    <div class="union3">
      <div class="union-child4"></div>
      <div class="union-child5"></div>
    </div>
    <div class="union4">
      <div class="union-child6"></div>
      <div class="union-child7"></div>
    </div>
    <div class="union5">
      <div class="union-child8"></div>
      <div class="union-child9"></div>
    </div>
    <div class="union6">
      <div class="union-child10"></div>
      <div class="union-child11"></div>
    </div>
    <div class="child10"></div>
    <div class="child11"></div>
    <div class="child12"></div>
    <div class="child13"></div>
    <div class="div9">1</div>
    <div class="child14"></div>
    <div class="div10">2</div>
    <div class="child15"></div>
    <div class="div11">3</div>
    <div class="child16"></div>
    <div class="div12">4</div>
    <div class="child17"></div>
    <div class="div13">5</div>
    <img class="x-8-1-icon1" alt="" src="./img/4--272x8-1@2x.png" />
  </div>
  <div class="div14">
    <div class="en">EN</div>
    <img class="mask-group-icon" alt="" src="./img/mask-group.svg" />

    <div class="union7">
      <div class="union-child12"></div>
      <div class="union-child13"></div>
    </div>
  </div>
  <div class="div15">
    <b class="news1">News</b>
    <div class="div16">
      <img class="rectangle-icon" alt="" src="./img/rectangle-61@2x.png" />

      <div class="screenshot-2023-01-05-162335-11"></div>
      <b class="b">06.03.2023</b>
      <img class="union-icon7" alt="" src="./img/union5.svg" />

      <b class="b1">234</b>
      <b class="investor-solutions-in">Investor Solutions in Bali</b>
      <div class="the-perenenan-area">
        The Perenenan area is gradually becoming more popular, but still
        retains a more relaxed Balinese atmosphere, which makes it popular
        among expats and surfers. The popularity of this area causes a high
        demand for real estate, the average cost of renting real estate is $
        150 per day in this ...
      </div>
    </div>
    <div class="div17">
      <img class="child18" alt="" src="./img/rectangle-611@2x.png" />

      <div class="screenshot-2023-01-05-162335-12"></div>
      <b class="b">17.02.2023</b>
      <img class="union-icon7" alt="" src="./img/union5.svg" />

      <b class="b1">543</b>
      <b class="cruise-tourism-will-container">
        <p class="the-smartest">Cruise tourism will be in the spotlight</p>
      </b>
      <div class="tourism-stakeholders-from">
        Tourism stakeholders from all over Indonesia are investing millions
        in upgrading the island's infrastructure to accommodate larger
        cruise ships.
      </div>
    </div>
    <div class="div18">
      <img class="child18" alt="" src="./img/rectangle-612@2x.png" />

      <div class="screenshot-2023-01-05-162335-13"></div>
      <b class="b4">22.02.2023</b>
      <img class="union-icon7" alt="" src="./img/union5.svg" />

      <b class="b5">7654</b>
      <b class="contractors-carry-out">Contractors carry out final inspections of the modernization of
        Kuta, Legian and Seminyak beaches in Bali</b>
      <div class="the-head-of">
        The head of the img Works and Territorial Planning Service of
        Badung , Ida Bagus Surya Suamba , told reporters: “[We have ...
      </div>
    </div>
    <div class="div19">
      <img class="child18" alt="" src="./img/rectangle-613@2x.png" />

      <div class="screenshot-2023-01-05-162335-14"></div>
      <b class="b4">06.02.2023</b>
      <img class="union-icon7" alt="" src="./img/union5.svg" />

      <b class="b5">754</b>
      <b class="indonesias-welfare-fund-container">
        <p class="the-smartest">
          Indonesia's Welfare Fund Wants to Reach $200 billion goal
        </p>
      </b>
      <div class="indonesias-wealth-fund">
        Indonesia's Wealth Fund aims to accelerate the timeline for reaching
        the $200 billion goal by 2024, as, according to its chief executive
        officer, it expects to increase ...
      </div>
    </div>
    <div class="child21"></div>
    <div class="all-news">ALL NEWS</div>
  </div>
  <div class="div20">
    <img class="mask-group-icon1" alt="" src="./img/mask-group1@2x.png" />

    <div class="child22"></div>
    <div class="helping-micro-investors-build-container">
      <p class="helping-micro-investors-build">
        *Helping Micro-Investors Build Wealth, Brick By Brick*
      </p>
      <p class="the-future-of-real-estate-inve">
        <b>The future of real estate investments is here.</b>
      </p>
    </div>
    <div class="child23"></div>
    <div class="create-your-free">CREATE YOUR FREE ACCOUNT</div>
  </div>
  <div class="div21">
    <div class="child24"></div>
    <img class="icon2" alt="" src="./img/@2x.png" />

    <b class="get-started">Get started</b>
    <div class="home-sign-up-container">
      <p class="home">Home</p>
      <p class="sign-up1">Sign Up</p>
      <p class="the-smartest">Login</p>
    </div>
    <b class="about-us1">About us</b>
    <div class="opportunities-for-investors-container">
      <p class="sign-up1">Opportunities</p>
      <p class="sign-up1">For investors</p>
      <p class="sign-up1">Earn for free</p>
      <p class="the-smartest">News</p>
    </div>
    <b class="support">Support</b>
    <b class="social-networks">Social networks:</b>
    <div class="faq-contacts">
      <p class="sign-up1">FAQ</p>
      <p class="the-smartest">Contacts</p>
    </div>
    <img class="facebook-icon" alt="" src="./img/facebook.svg" />

    <img class="twitter-icon" alt="" src="./img/twitter.svg" />

    <div class="line-div"></div>
    <div class="copyright-2023-all">
      Copyright 2023. All rights reserved
    </div>
    <div class="privacy-policy">Privacy policy</div>
    <div class="user-agreement">User agreement</div>
    <div class="child25"></div>
    <div class="to-the-top">To the top</div>
    <div class="union8">
      <div class="union-child14"></div>
      <div class="union-child15"></div>
    </div>
  </div>
  <div class="div22">
    <div class="why-do-they-container">
      <span>Why do they</span>
      <b> trust us?</b>
    </div>
    <div class="div23">
      <div class="child26"></div>
      <img class="icon3" alt="" src="./img/111-1@2x.png" />

      <b class="transparent-investing">Transparent Investing</b>
      <div class="low-and-transparent">
        Low and transparent fees on your investments
      </div>
    </div>
    <div class="div24">
      <div class="child26"></div>
      <div class="child28"></div>
      <img class="icon3" alt="" src="./img/222-2@2x.png" />

      <b class="valuation">
        <p class="valuation1">Valuation</p>
        <p class="the-smartest">&nbsp;</p>
      </b>
      <div class="property-assessment-conducted">
        Property assessment conducted by professionals and independent
        appraisers.
      </div>
    </div>
    <div class="div25">
      <div class="child26"></div>
      <img class="icon3" alt="" src="./img/333-1@2x.png" />

      <div class="investment-opportunities-based">
        Investment opportunities based on data analysis and artificial
        intelligence
      </div>
      <b class="data-and-artificial-container">
        <p class="the-smartest">Data and artificial</p>
        <p class="the-smartest">intelligence</p>
      </b>
    </div>
    <div class="div26">
      <div class="child26"></div>
      <img class="icon3" alt="" src="./img/444-1@2x.png" />

      <b class="regulated-platform">Regulated platform</b>
      <div class="the-indonesia-financial">
        The Indonesia Financial Services Authority is responsible for
        regulating.
      </div>
    </div>
    <div class="div27">
      <div class="child26"></div>
      <img class="icon3" alt="" src="./img/555-1@2x.png" />

      <b class="diversification">Diversification</b>
      <div class="our-platform-enables">
        Our platform enables you to manage your diversified portfolio.
      </div>
    </div>
    <div class="div28">
      <div class="child26"></div>
      <img class="icon3" alt="" src="./img/666-1@2x.png" />

      <b class="professional-team">Professional team</b>
      <div class="property-assessment-conducted">
        At any time, you can access the support of a team of professionals
        who are ready to assist you.
      </div>
    </div>
  </div>
</div>
