<!--3 Карта целей студии -->

<div class="div6">
  <div class="child6"></div>
  <img class="bali-1-icon" alt="" src="./img/bali-1@2x.webp" />

  <b class="estatuium">Estatuium</b>
  <div class="estatium-is-a">
    Estatium is a platform that offers high-quality real estate investment
    opportunities, along with business and mortgage loan investments,
    through real estate crowdfunding.
  </div>
  <img class="dc45e5b89121830a355d58c562573d-icon" alt="" src="./img/88dc45e5b89121830a355d58c562573d-1@2x.webp" />
</div>
<div class="div7">
  <div class="video-presentation">
    <span class="video-presentation-txt-container">
      <p class="the-smartest">
        <span class="video">Video</span>
        <b> </b>
      </p>
      <p class="the-smartest">
        <b>presentation</b>
      </p>
    </span>
  </div>
  <div class="watch-the-video">
    Watch the video review of the interior and exterior of the house.
    Everything was shot in detail on camera in good quality. You will be
    interested to see how everything works in this house. How the rooms,
    kitchen, utility area and much more are located. In our detailed video
    review.
  </div>
  <img class="p-doma-na-bali-foto-3-2-icon" alt="" src="./img/1633308790-3pdomanabalifoto3-2@2x.webp" />

  <div class="screenshot-2023-01-05-162335-6"></div>
  <div class="child7"></div>
  <a href="#!" class="view-more-real">View more real estate</a>
  <img class="polygon-icon" alt="" src="./img/polygon-1.svg" />

  <div class="ellipse-div"></div>
</div>
<div class="div8">
  <div class="child8"></div>
  <div class="how-the-service-container">
    <span>How the</span>
    <b> service work</b>
  </div>
  <div class="your-digital-wallet">
    Your digital wallet receives rental income based on your investment
    amount, which you can withdraw or reinvest as desired. Rental returns
    are usually disbursed according to the tenancy agreement's specified
    conditions.
  </div>
  <div class="our-100-point-tool">
    Our 100-point tool screens and verifies investment properties for
    top-notch opportunities. We use a third-party valuator to validate our
    evaluation for added assurance.
  </div>
  <div class="once-fully-funded">
    Once fully funded, we create an SPV in the Indonesia International
    Financial Centre for the property, designating you and your
    co-investors as official owners.
  </div>
  <div class="although-the-suggested">
    Although the suggested holding period for real estate investments is
    2-3 years, you can exit your investment anytime by listing your shares
    in the share transfer or calling for a vote to sell the property.
  </div>
  <div class="after-the-sale">
    After the sale, the income is distributed among all shareholders of
    the Special Purpose Vehicle (SPV). After that, participants can use
    the profits to buy new objects or take them from the platform to their
    bank account
  </div>
  <div class="circle">
    <div class="child9"></div>
  
  
  
    <!-- <div class="union6">
      <div class="union-child10"></div>
      <div class="union-child11"></div>
    </div> -->
    <div class="child10"></div>
    <div class="child11"></div>
    <div class="child12"></div>
    <div class="child13"></div>
    <div class="div9">1</div>
    <div class="child14"></div>
    <div class="div10">2</div>
    <div class="child15"></div>
    <div class="div11">3</div>
    <div class="child16"></div>
    <div class="div12">4</div>
    <div class="child17"></div>
    <div class="div13">5</div>
    <img class="x-8-1-icon1" alt="" src="./img/4--272x8-1@2x.webp" />
  </div>
</div>

<div class="div15">
  <b class="news1">News</b>
  <div class="grid2">
    <div class="div16">
      <div class="card2-photo"><img class="rectangle-icon" alt="" src="./img/rectangle-61@2x.webp" /></div>
  
      <div class="screenshot-2023-01-05-162335-11"></div>
      <b class="b">06.03.2023</b>
  
  
      <b class="b1"><img class="union-icon7  union-icon-ml" alt="" src="./img/union5.svg" />234</b>
      <div class="flex-column">
        <b class="investor-solutions-in">Investor Solutions in Bali</b>
        <div class="the-perenenan-area">
          The Perenenan area is gradually becoming more popular, but still
          retains a more relaxed Balinese atmosphere, which makes it popular
          among expats and surfers. The popularity of this area causes a high
          demand for real estate, the average cost of renting real estate is $
          150 per day in this ...
        </div>
      </div>
    </div>
    <div class="div17">
     <div class="card2-photo"> <img class="child18" alt="" src="./img/rectangle-611@2x.webp" /></div>
  
      <div class="screenshot-2023-01-05-162335-12"></div>
      <b class="b">17.02.2023</b>
  
  
      <b class="b1"><img class="union-icon7  union-icon-ml" alt="" src="./img/union5.svg" />543</b>
      <div class="flex-column">
        <b class="cruise-tourism-will-container">
          <p class="the-smartest">Cruise tourism will be in the spotlight</p>
        </b>
        <div class="tourism-stakeholders-from">
          Tourism stakeholders from all over Indonesia are investing millions
          in upgrading the island's infrastructure to accommodate larger
          cruise ships.
        </div>
      </div>
    </div>
    <div class="div18">
      <div class="card2-photo"><img class="child18" alt="" src="./img/rectangle-612@2x.webp" /></div>
  
      <div class="screenshot-2023-01-05-162335-13"></div>
      <b class="b4">22.02.2023</b>
  
  
      <b class="b5"><img class="union-icon7  union-icon-ml" alt="" src="./img/union5.svg" />7654</b>
      <div class="flex-column">
        <b class="contractors-carry-out">Contractors carry out final inspections of the modernization of
          Kuta, Legian and Seminyak beaches in Bali</b>
        <div class="the-head-of">
          The head of the img Works and Territorial Planning Service of
          Badung , Ida Bagus Surya Suamba , told reporters: “[We have ...
        </div>
      </div>
    </div>
    <div class="div19">
      <div class="card2-photo"><img class="child18" alt="" src="./img/rectangle-613@2x.webp" /></div>
  
      <div class="screenshot-2023-01-05-162335-14"></div>
      <b class="b4">06.02.2023</b>
  
  
      <b class="b5"><img class="union-icon7 union-icon-ml" alt="" src="./img/union5.svg" />754</b>
      <div class="flex-column">
        <b class="indonesias-welfare-fund-container">
          <p class="the-smartest">
            Indonesia's Welfare Fund Wants to Reach $200 billion goal
          </p>
        </b>
        <div class="indonesias-wealth-fund">
          Indonesia's Wealth Fund aims to accelerate the timeline for reaching
          the $200 billion goal by 2024, as, according to its chief executive
          officer, it expects to increase ...
        </div>
      </div>
    </div>
  </div>
  <div class="child21"></div>
  <a href="#!" class="all-news">ALL NEWS</a>
</div>
<div class="div20">
  <img class="mask-group-icon1" alt="" src="./img/mask-group1@2x.webp" />

  <div class="child22"></div>
  <div class="helping-micro-investors-build-container">
    <p class="helping-micro-investors-build">
      *Helping Micro-Investors Build Wealth, Brick By Brick*
    </p>
    <p class="the-future-of-real-estate-inve">
      <b>The future of real estate investments is here.</b>
    </p>
  </div>
  <a href="#!" class="child23 create-your-free">CREATE YOUR FREE ACCOUNT</a>
  <!-- <div class="create-your-free">CREATE YOUR FREE ACCOUNT</div> -->
</div>
<div class="div21">
  <div class="child24"></div>
    <img class="icon2" alt="" src="./img/@2x.webp" />
  
    <b class="get-started">Get started</b>
    <div class="home-sign-up-container">
      <p class="home">Home</p>
      <p class="sign-up1">Sign Up</p>
      <p class="the-smartest">Login</p>
    </div>
    <b class="about-us1">About us</b>
    <div class="opportunities-for-investors-container">
      <p class="sign-up1">Opportunities</p>
      <p class="sign-up1">For investors</p>
      <p class="sign-up1">Earn for free</p>
      <p class="the-smartest">News</p>
    </div>
    <b class="support">Support</b>
    <b class="social-networks">Social networks:</b>
    <div class="faq-contacts">
      <p class="sign-up1">FAQ</p>
      <p class="the-smartest">Contacts</p>
    </div>
    <img class="facebook-icon" alt="" src="./img/facebook.svg" />
  
    <img class="twitter-icon" alt="" src="./img/twitter.svg" />
  </div>

  <div class="line-div"></div>
  <div class="copyright-2023-all">
    Copyright 2023. All rights reserved
  </div>
  <div class="privacy-policy">Privacy policy</div>
  <div class="user-agreement">User agreement</div>
  <div class="child25"></div>
  <div class="to-the-top">To the top</div>
  <div class="union8">
    <div class="union-child14"></div>
    <div class="union-child15"></div>
  </div>

<div class="div22">
  <div class="why-do-they-container">
    <span>Why do they</span>
    <b> trust us?</b>
  </div>
  <div class="grid">
    <div class="div23">
      <div class="card__photo">
        <img class="icon3" alt="" src="./img/111-1@2x.webp" />
      </div>
      <div class="card__text">
        <b class="transparent-investing">Transparent Investing</b>
        <div class="low-and-transparent">
          Low and transparent fees on your investments
        </div>
      </div>
    </div>
    <div class="div24">
      <div class="card__photo"><img class="icon3" alt="" src="./img/222-2@2x.webp" /></div>
  
      <div class="card__text">
        <b class="valuation">
          <p class="valuation1">Valuation</p>
          <!-- <p class="the-smartest">&nbsp;</p> -->
        </b>
        <div class="property-assessment-conducted">
          Property assessment conducted by professionals and independent
          appraisers.
        </div>
      </div>
    </div>
    <div class="div25">
      <div class="card__photo"><img class="icon3" alt="" src="./img/333-1@2x.webp" /></div>
  
      <div class="card__text">
        <b class="data-and-artificial-container">
          <p class="the-smartest">Data and artificial</p>
          <p class="the-smartest">intelligence</p>
        </b>
        <div class="investment-opportunities-based">
          Investment opportunities based on data analysis and artificial
          intelligence
        </div>
      </div>
    </div>
    <div class="div26">
      <div class="card__photo"><img class="icon3" alt="" src="./img/444-1@2x.webp" /></div>
  
      <div class="card__text">
        <b class="regulated-platform">Regulated platform</b>
        <div class="the-indonesia-financial">
          The Indonesia Financial Services Authority is responsible for
          regulating.
        </div>
      </div>
    </div>
    <div class="div27">
      <div class="card__photo"><img class="icon3" alt="" src="./img/555-1@2x.webp" /></div>
  
      <div class="card__text">
        <b class="diversification">Diversification</b>
        <div class="our-platform-enables">
          Our platform enables you to manage your diversified portfolio.
        </div>
      </div>
    </div>
    <div class="div28">
      <div class="card__photo"><img class="icon3" alt="" src="./img/666-1@2x.webp" /></div>
  
      <div class="card__text">
        <b class="professional-team">Professional team</b>
        <div class="property-assessment-conducted">
          At any time, you can access the support of a team of professionals
          who are ready to assist you.
        </div>
      </div>
    </div>
  </div>
</div>
