<!-- 2 Live and Coming Soon Properties -->
<div class="div5">
  <b class="live-and-coming">Live and Coming Soon Properties</b>
  <img class="child2" alt="" src="./img/line-2.svg" />






    <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">

          <div class="wrapper-coming-soon">
            <div class="coming-soon coming-soon__first">
              <img class="coming-soon__img"  alt="" src="./img/screenshot-2023-01-05-162335 11.webp" />
              <div class="h3">Hotel in the north of Bali</div>

              <div class="coming-soon__item icon-time">
                238 hours left
              </div>

              <div class="coming-soon__item icon-silhouette">
                37 interested investors
              </div>
            </div>
            <a href="#!" class="btn-blue">READ MORE</a>

          </div>

        </div>
        <div class="swiper-slide">
          <div class="wrapper-coming-soon">
            <div class="coming-soon ">
              <img  class="coming-soon__img" alt="" src="./img/screenshot20230105162335-9@2x.webp" />
              <div class="h3">Large luxury villa</div>

              <div class="coming-soon__item icon-time">
                354 hours left
              </div>

              <div class="coming-soon__item icon-silhouette">
                8 interested investors
              </div>

            </div>
            <a href="#!" class="btn-orange">READ MORE</a>
          </div>

        </div>
        <div class="swiper-slide">
          <div class="wrapper-coming-soon">
            <div class="coming-soon ">
              <img  class="coming-soon__img" alt="" src="./img/screenshot20230105162335-7@2x.webp" />
              <div class="h3">The Umalas Signature Complex</div>

              <div class="coming-soon__item icon-time">
                6547 hours left
              </div>

              <div class="coming-soon__item icon-silhouette">
                323 interested investors
              </div>
            </div>
            <a href="#!" class="btn-orange">READ MORE</a>
          </div>

        </div>
        <div class="swiper-slide">
          <div class="wrapper-coming-soon">
            <div class="coming-soon ">
              <img  class="coming-soon__img" alt="" src="./img/screenshot20230105162335-9@2x.webp" />
              <div class="h3">Large luxury villa</div>

              <div class="coming-soon__item icon-time">
                354 hours left
              </div>

              <div class="coming-soon__item icon-silhouette">
                8 interested investors
              </div>

            </div>
            <a href="#!" class="btn-orange">READ MORE</a>
          </div>

        </div>


      </div>
      <div class="swiper-button-next">
        <svg width="15" height="27" viewBox="0 0 15 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.81434 1.06066C1.40013 0.474874 2.34987 0.474874 2.93566 1.06066L14.2494 12.3744C14.7371 12.8621 14.8188 13.6022 14.4942 14.1744C14.4813 14.5404 14.3352 14.9025 14.0558 15.1819L2.74213 26.4956C2.15635 27.0814 1.2066 27.0814 0.620811 26.4956C0.0350251 25.9098 0.0350251 24.9601 0.620811 24.3743L11.3137 13.6814L0.81434 3.18198C0.228553 2.59619 0.228553 1.64645 0.81434 1.06066Z" fill="#0098FF"/>
          </svg>
      </div>
      <div class="swiper-button-prev">
        <svg width="16" height="29" viewBox="0 0 16 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7779 1.06066C14.1922 0.474874 13.2424 0.474874 12.6566 1.06066L0.63581 13.0815C0.280434 13.4369 0.140652 13.9262 0.216465 14.3869C-0.104699 14.9584 -0.0221225 15.6956 0.464197 16.1819L12.485 28.2027C13.0708 28.7885 14.0205 28.7885 14.6063 28.2027C15.1921 27.617 15.1921 26.6672 14.6063 26.0814L3.24242 14.7175L14.7779 3.18198C15.3637 2.59619 15.3637 1.64645 14.7779 1.06066Z" fill="#1B1F2A"/>
          </svg>

      </div>

    </div>






</div>



