.opportunit{



.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  border: 1px solid #898989;
  box-sizing: border-box;
  width: 381px;
  height: 541px;
}
.image-34-icon {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 354px;
  height: 236px;
  object-fit: cover;
}
.funded,
.group-child {
  position: absolute;
  left: 0;
}
.group-child {
  top: 0;
  background-color: var(--color-sandybrown);
  width: 82px;
  height: 39px;
}
.funded {
  height: 71.79%;
  width: 100%;
  top: 25.64%;
  display: inline-block;
}
.rectangle-parent {
  position: absolute;
  top: 34px;
  left: 34px;
  width: 82px;
  height: 39px;
  text-align: center;
  color: var(--color-gray-200);
}
.bedroom-in-park {
  position: absolute;
  height: 5.18%;
  width: 92.91%;
  top: 48.98%;
  left: 3.67%;
  font-size: var(--font-size-lg);
  display: inline-block;
}
.subtract-icon {
  position: relative;
  width: 19.12px;
  height: 21.98px;
}
.bali-indonesia {
  position: absolute;
  height: 4.44%;
  width: 82.15%;
  top: 55.75%;
  left: 3.5%;
  font-weight: 600;
  display: inline-block;
  display: flex;
    gap: 6px;
}
.bali-indonesia img{
  transform: translateY(-5px);
}
.b,
.grass-yield {
  font-family: var(--font-open-sans);
}
.grass-yield {
  font-weight: 600;
  color: var(--color-black);
}
.b {
  color: var(--color-dodgerblue);
  position: static;
}
.expected-return {
  font-weight: 600;
}
.dividend-701-starts-from {
  margin-bottom: 8px;
}
.grass-yield-907-expected {
  margin: 0;
  padding-left: var(--padding-lgi);
}
.funding-target-idr,
.grass-yield-907-container {
  position: absolute;
  width: 92.91%;
  display: inline-block;
}
.grass-yield-907-container {
  height: 14.42%;
  top: 62.85%;
  left: 1.57%;
  font-size: inherit;
  margin-left: 25px;
}
.funding-target-idr {
  height: 3.88%;
  top: 82.07%;
  left: 2.62%;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 3px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 61px;
  height: 61px;
}
.b3,
.funded1 {
  position: absolute;
  height: 34.43%;
  width: 68.25%;
  top: 19.67%;
  left: 15.87%;
  display: inline-block;
  font-size: 14px;
}
.funded1 {
  width: 85.71%;
  top: 47.54%;
  left: 14.29%;
  font-size: 12px;
  font-weight: 600;
}
.b4,
.ellipse-parent {
  position: absolute;
  top: 265px;
  left: 305px;
  width: 63px;
  height: 61px;
}
.b4 {
  height: 5.73%;
  width: 89.5%;
  top: 90.57%;
  left: 4.99%;
  font-size: var(--font-size-5xl);
  display: inline-block;
}
.child1,
.view-details {
  position: absolute;
  left: 194px;
  width: 174px;
}
.child1 {
  top: 486px;
  border-radius: var(--br-9xs);
  background-color: var(--color-dodgerblue);
  height: 40px;
}
.view-details {
  top: 488px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}
.image-35-icon {
  position: absolute;
  top: 242px;
  left: 0;
  width: 397px;
  height: 306px;
  object-fit: cover;
  transform: scale(1.009);
}
.or1 {
  font-family: var(--font-open-sans);
  color: var(--color-black);
}
.signup-or-login {
  margin: 0;
}
.to-unlock-this {
  margin: 0;
  color: var(--color-black);
}
.signup-or-login-container {
  position: absolute;
  height: 54.81%;
  width: 100%;
  top: 45.19%;
  left: 0;
  display: inline-block;
}
.union-icon1 {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 0 auto;
}
.signup-or-login-to-unlock-this-parent {
  position: absolute;
  height: 19.22%;
  width: 92.91%;
  top: 62.85%;
  right: 3.41%;
  bottom: 17.93%;
  left: 3.67%;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-dodgerblue);
}
.div5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 381px;
  height: 541px;
}
.signup-or-login-to-unlock-this-group {
  position: absolute;
  height: 19.22%;
  width: 92.91%;
  top: 62.85%;
  right: 2.62%;
  bottom: 17.93%;
  left: 4.46%;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-dodgerblue);
}
.div6,
.div7,
.div8,
.group,
.group-child13,
.parent {
  position: absolute;
  top: 0;
  left: 413px;
  width: 381px;
  height: 541px;
}
.div7,
.div8,
.group,
.group-child13,
.parent {
  left: 827px;
}
.div8,
.group,
.group-child13,
.parent {
  left: 1242px;
}
.group,
.group-child13,
.parent {
  top: 90px;
  left: 0;
  width: 1623px;
}
.group,
.group-child13 {
  top: 671px;
}
.group-child13 {
  top: 0;
  background-color: var(--color-sandybrown);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  width: 82px;
  height: 39px;
}
.container,
.parent1 {
  left: 0;
  width: 1623px;
  height: 541px;
}
.container {
  position: absolute;
  top: 1252px;
}
.parent1 {
  top: 1833px;
}
.div4,
.en,
.parent1 {
  position: absolute;
}
.div4 {
  top: 170px;
  left: 149px;
  width: 1623px;
  height: 2374px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.en {
  top: 0;
  left: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 28px;
  height: 35px;
}
.mask-group-icon {
  position: absolute;
  height: 85.62%;
  width: 29.73%;
  top: 8.57%;
  right: 22.32%;
  bottom: 5.81%;
  left: 47.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.union-child,
.union-item {
  position: absolute;
  top: 44.09px;
  left: 1756.59px;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro);
  width: 2px;
  height: 10px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.union-item {
  top: 42.59px;
  left: 1769.28px;
  transform: rotate(45deg);
}
.union {
  position: relative;
  background-color: var(--color-white);
  width: 13.28px;
  height: 7.74px;
}
.div21 {
  top: 28px;
  left: 1666px;
  width: 104.28px;
  height: 35px;
}
.child32,
.div21,
.icon1 {
  position: absolute;
}
.child32 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1920px;
  height: 280px;
}
.icon1 {
  top: 32px;
  left: 143px;
  width: 130px;
  height: 48px;
  object-fit: cover;
}
.get-started {
  position: absolute;
  height: 8.57%;
  width: 5.78%;
  top: 12.5%;
  left: 24.69%;
  font-size: var(--font-size-lg);
  display: inline-block;
}
.home {
  color: var(--color-dodgerblue);
}
.home,
.sign-up1 {
  margin-block-start: 0;
  margin-block-end: 8px;
}
.about-us1,
.home-sign-up-container {
  position: absolute;
  height: 41.79%;
  width: 5.78%;
  top: 28.57%;
  left: 24.69%;
  display: inline-block;
}
.about-us1 {
  height: 8.57%;
  top: 12.5%;
  left: 43.23%;
  font-size: var(--font-size-lg);
}
.opportunities-for-investors-container {
  position: absolute;
  height: 41.79%;
  width: 8.7%;
  top: 28.57%;
  left: 43.23%;
  display: inline-block;
}
.support {
  height: 8.57%;
  width: 5.78%;
  top: 12.5%;
  left: 61.67%;
  font-size: var(--font-size-lg);
}
.faq-contacts,
.social-networks,
.support {
  position: absolute;
  display: inline-block;
}
.social-networks {
  height: 8.57%;
  width: 12.08%;
  top: 12.5%;
  left: 80.1%;
  font-size: var(--font-size-lg);
}
.faq-contacts {
  height: 37.86%;
  width: 8.7%;
  top: 28.57%;
  left: 61.67%;
}
.facebook-icon,
.twitter-icon {
  position: absolute;
  height: 11.43%;
  width: 1.67%;
  top: 28.57%;
  right: 18.23%;
  bottom: 60%;
  left: 80.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.twitter-icon {
  right: 15.31%;
  left: 83.02%;
}
.line-div {
  position: absolute;
  top: 214.5px;
  left: 148.5px;
  border-top: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 1622px;
  height: 1px;
}
.copyright-2023-all,
.privacy-policy,
.user-agreement {
  position: absolute;
  height: 11.43%;
  width: 16.46%;
  top: 83.93%;
  left: 7.76%;
  display: inline-block;
}
.privacy-policy,
.user-agreement {
  width: 6.72%;
  left: 43.23%;
  color: var(--color-dodgerblue);
}
.user-agreement {
  left: 61.67%;
}
.child33,
.to-the-top {
  position: absolute;
  left: 1541px;
}
.child33 {
  top: 229px;
  background-color: var(--color-dodgerblue);
  width: 163px;
  height: 38px;
}
.to-the-top {
  top: 236px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-gray-200);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 25px;
}
.union-inner {
  position: absolute;
  top: 2876.9px;
  left: 1688.8px;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
  width: 2px;
  transform: rotate(135.03deg);
}
.union-child1,
.union-inner,
.union1 {
  height: 14px;
  transform-origin: 0 0;
}
.union-child1 {
  position: absolute;
  top: 2878.31px;
  left: 1670.41px;
  border-radius: var(--br-11xs);
  background-color: var(--color-dodgerblue);
  width: 2px;
  transform: rotate(-134.97deg);
}


/*new*/
.flex-container--img{
  .flex-item{
    max-width: 381px;
    min-height: 541px;
  }
}

 .flex-container{
  margin-bottom: 40px;
}



}



